<template>
  <div class="app">
    <mt-header fixed title="Star Store">
        <router-link to="/" slot="left">
            <mt-button icon="back">Back Home</mt-button>
        </router-link>
        <mt-button icon="more" @click="handlerClick" slot="right"></mt-button>
    </mt-header>
    <mt-popup
      v-model="popupVisible"
      style="width: 50%; height: 100%;"
      position="right">
      ...
    </mt-popup>
    <section class="app-container" v-bind:style="{ height: innerHeight}">
        <router-view></router-view>
    </section>
    <!--<mt-tabbar v-model="selected">
      <mt-tab-item id="1">外卖</mt-tab-item>
      <mt-tab-item id="2">订单</mt-tab-item>
      <mt-tab-item id="3">发现</mt-tab-item>
      <mt-tab-item id="4">我的</mt-tab-item>
    </mt-tabbar>-->
  </div>
</template>

<script>
// import NavMenu from './NavMenu';
// import Menus from './Menu';
// import Boo from './Boo';
export default {
  name: 'app',
  components: {

  },
  data () {
    return {
      msg: 'Welcome',
      selected: '1',  
      popupVisible: false,
      value: '',
      innerHeight: window.innerHeight-40 + 'px'
    }
  },
  created: ()=>{
    // console.log(window.innerHeight-40);
  },
  methods: {
    handlerClick(){
      this.popupVisible = true;
    }
  }
}
</script>

<style>
    .app-container{
        margin-top: 40px;
        overflow: auto;
    }
</style>
