<template>
    <div class="product-list">
        <!--<ul>
            <li>
                <a>
                    <span class="span-left">网红名称</span>
                    <span class="span-left">关联产品</span>
                    <span class="span-right">编辑</span>
                </a>
            </li>
            <li v-for="p in pList">
                <a @click="onDetailes(p)">
                    <span class="span-left">{{p.influencer_name}}</span>
                    <span class="span-left">{{p.product_name}}</span>
                    <span class="span-right">编辑 <i class="fa fa-angle-right" ></i></span>
                </a>
            </li>
        </ul>-->
        <el-table
            :data="pList"
            style="width: 100%">
            <el-table-column
                prop="influencer_name"
                label="网红">
            </el-table-column>
            <el-table-column
                prop="product_name"
                label="产品">
            </el-table-column>
            <el-table-column
                prop="count"
                label="编辑">
                <template scope="scope">
                    <el-button type="text" @click="onDetailes(scope.$index, scope.row)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
        <mt-popup
            v-model="popupVisible"
            style="width: 100%; height: 100%"
            position="right">
            <mt-button icon="back" size="large" @click="popupVisible=false">返回</mt-button>
            <div class="app">
                <mt-field label="网红名称" placeholder="Input productname" v-model="form.name"></mt-field>
                <mt-field label="关联产品" placeholder="Input productname" v-model="form.pName" disabled></mt-field>
                <mt-cell
                    title="选择产品">
                    <mt-button size="large" @click="onSelsectProduct">{{newPruductName}}</mt-button>
                </mt-cell>
                <div class="register-form-button">   
                    <mt-button type="primary" size="large" @click="onUpdataProduct">提交</mt-button>
                    <mt-button type="danger" size="large" @click="handleRemoveClick" style="margin-top:20px">删除</mt-button>
                </div>
            </div>
        </mt-popup>
        <mt-popup
            v-model="sheetVisible"
            style="width: 100%; height: 100%; overflow: auto"
            position="bottom">
            <mt-button size="large" @click="onCloseList">确认选择</mt-button>
            <mt-radio
                title="产品列表"
                v-model="form.pid"
                :options="options">
            </mt-radio>
        </mt-popup>
    </div>
</template>

<script>
import {
    getInfluencer, 
    getProductList, 
    getInfluencerPid, 
    updateInfluencer, 
    updateInfluencerLink,
    removeInfluenser,
    removeInfluenserLink
} from "../../apiRequest.js";
import { Toast } from 'mint-ui';
import { MessageBox } from 'mint-ui';
import _ from 'lodash';
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
            popupVisible: false,
            sheetVisible: false,
            newPruductName: '点击选择产品',
            options: [],
            pList: [],
            form: {
                id: '',
                name: '',
                pName: '',
                pid: ''
            },
            oldInfluenser: {
                name: '',
                pid: ''
            },
            updataObj: {
                id: '',
                name: ''
            },
            updataLinkObj: {
                id: '',
                influencer_id: '',
                product_id: ''
            }
        }
    },
    created(){
        this.getInfluenserList();
        this.getProductList();
    },
    methods: {
        onCloseList(){
            this.sheetVisible=false;
            let cpname = _.find(this.options, { 'value': this.form.pid });
            this.newPruductName=cpname.label;
            // console.log(cpname.label);
        },
        onDetailes(index, row){
            // console.log(data);
            this.form.id = row.influencer_id;
            this.form.name = row.influencer_name;
            this.form.pName = row.product_name;
            this.form.pid = row.product_id+'';

            this.oldInfluenser.name = row.influencer_name;
            this.oldInfluenser.pid = row.product_id+'';
            this.popupVisible=true;
        },
        onSelsectProduct(){
            this.sheetVisible=true;
        },
        onUpdataProduct(){
            getInfluencerPid(this.form.id).then((data)=>{
                // console.log('--------------',data.data);
                this.updataLinkObj.id = data.data[0].influencer_product_id;
                if(this.form.name !== this.oldInfluenser.name || this.form.pid !== this.oldInfluenser.pid){
                    if(this.form.name !== this.oldInfluenser.name){
                        // updata name
                        this.updataObj.id = this.form.id;
                        this.updataObj.name = this.form.name;
                        // console.log(this.updataObj);
                        updateInfluencer(this.updataObj).then((data)=>{
                            this.popupVisible=false;
                            Toast({
                                message: '更新名称成功！',
                                iconClass: 'fa fa-check'
                            });
                            this.getInfluenserList();
                        }).catch((response)=> {
                            console.log(response.toString());
                        });
                    }
                    if(this.form.pid !== this.oldInfluenser.pid){
                        // 更新关联关系
                        this.updataLinkObj.influencer_id = this.form.id;
                        this.updataLinkObj.product_id = this.form.pid;
                        console.log(this.updataLinkObj);
                        updateInfluencerLink(this.updataLinkObj).then((data)=>{
                            console.log(data);
                            this.popupVisible=false;
                            Toast({
                                message: '更新关联产品成功！',
                                iconClass: 'fa fa-check'
                            });
                            this.getInfluenserList();
                        }).catch((response)=> {
                            // console.log(response.toString());
                        });
                    }
                }else{
                    this.popupVisible=false;
                    Toast({
                        message: '没有改动',
                        iconClass: ''
                    });
                }
            }).catch((response)=> {
                console.log(response.toString());
            });
        },
        handleRemoveClick(row){
            MessageBox.confirm('确定执行此删除操作?').then((action) => {
                if(action === 'confirm'){
                    removeInfluenser(this.form.id*1).then((msg)=>{
                        if(msg.data === 'ok'){
                            this.popupVisible=false;
                            Toast({
                                message: '删除成功！',
                                iconClass: 'fa fa-check'
                            });
                            this.getInfluenserList();
                        }
                    }).catch((response)=> {
                        this.popupVisible=false;
                        Toast({
                            message: response.toString(),
                            iconClass: 'fa fa-times'
                        });
                    })
                }
            });
            
        },
        getInfluenserList(){
            // 异步请求列表
            getInfluencer().then((data)=>{
                console.log(data.data);
                this.pList = data.data;
            }).catch((response)=> {
                // 错误处理
                Toast({
                    message: response.toString(),
                    iconClass: 'fa fa-times'
                });
            })
        },
        getProductList(){
            getProductList().then((data)=>{
                // console.log(data);
                let arr = [];
                if(data.status === 200){
                    data.data.forEach((p, i)=>{
                        arr.push(
                            {
                                label: p.product_name,
                                value: p.product_id.toString()
                            }
                        );
                    })
                    this.options = arr;
                }
            }).catch((response)=> {
                Toast({
                    message: response.toString(),
                    iconClass: 'fa fa-times'
                });
            })
        }
    }
}
</script>

<style scoped>
    .product-list>ul{
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #aaa;
        margin: 0;
    }
    .product-list>ul>li{
        height: 40px;
        border-top: 1px solid #aaa;
        line-height: 40px;
    }
    .product-list>ul>li>a>span{
        display: inline-block;
        width: 30%;
        margin-right: 3%;
    }
    .product-list>ul>li>a>span.span-left{
        float: left;
        text-align: left;
        overflow: hidden;
    }
    .product-list>ul>li>a{
        display: block;
        text-decoration: none;
        text-align: right;
        color: #555;
        margin: 0 auto;
        width: 90%;
        overflow: hidden;
    }
</style>
