<template>
    <div class="app">
        <h1>this is model</h1>
    </div>
</template>

<script>
// import NavMenu from './NavMenu';
// import Menus from './Menu';
// import Boo from './Boo';
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
            msg: 'Welcome',
            value: ''
        }   
    },
    created(){
        
    },
    methods: {
    
    }
}
</script>

<style>

</style>
