<template>
    <div class="menu">
        <mt-cell
            title="注册产品"
            to="/mapp/mregisterProduct"
            is-link
            value="">
        </mt-cell>
        <mt-cell
            title="产品列表"
            to="/mapp/mproductList"
            is-link
            value="">
        </mt-cell>
        <mt-cell
            title="注册网红"
            to="/mapp/mregisterInfluenser"
            is-link
            value="">
        </mt-cell>
        <mt-cell
            title="网红列表"
            to="/mapp/minfluenserList"
            is-link
            value="">
        </mt-cell>
        <mt-cell
            title="数据统计"
            to="/mapp/mmsgData"
            is-link
            value="">
        </mt-cell>
    </div>
</template>

<script>
// import NavMenu from './NavMenu';
// import Menus from './Menu';
// import Boo from './Boo';
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
        msg: 'Welcome',
        value: ''
        }
    },
    created: ()=>{
        
    },
    methods: {

    }
}
</script>

<style>

</style>
