<template>
    <div class="app">
        <div class="msg-container">
            <mt-cell title="选择日期" value="选择日期">
                <mt-button type="primary" plain size="large" @click="openPicker">{{selectdate}}</mt-button>
            </mt-cell>
            <mt-datetime-picker
                ref="picker"
                type="date"
                @confirm="handleConfirm"
                v-model="date">
            </mt-datetime-picker>
        </div>
        <div class="msg-container">
            <mt-cell title="选择网红" value="选择网红">
                <mt-button type="primary" plain size="large" @click="selectInfluenser">{{influenser}}</mt-button>
            </mt-cell>
            <mt-popup
                v-model="popupVisible"
                style="width: 100%; height: 70%; overflow: auto;padding: 10px 0"
                position="bottom">
                <mt-button type="primary" plain size="large" @click="onSelectInfluenser">确认选择</mt-button>
                <mt-radio
                    title="选择网红："
                    v-model="id"
                    :options="influencerData">
                </mt-radio>
            </mt-popup>
        </div>
        <div class="msg-container">
            <mt-radio
                title="选择类型："
                v-model="type"
                :options="options">
            </mt-radio>
        </div>
        <div class="msg-container">
            <mt-radio
                title="选择平台："
                v-model="os"
                :options="platform">
            </mt-radio>
        </div>
        <div class="msg-container" style="margin-top: 20px">
            <mt-button type="primary" plain size="large" @click="onRegisterProduct">点击查看</mt-button>
        </div>
    </div>
</template>

<script>
// import { TabContainer, TabContainerItem } from 'mint-ui';
import {getMsgListRequest, getInfluencerPid, getInfluencer} from "../../apiRequest.js";
import { Toast } from 'mint-ui';
import _ from 'lodash';
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
            date: new Date(),
            type: 'pb',
            id: '',
            cid: '',
            os: 'ios',
            selectdate: '选择日期',
            influenser: '选择网红',
            popupVisible: false,
            influencerData: [],
            options: [
                {
                    label: 'pb',
                    value: 'pb'
                },
                {
                    label: 'ck',
                    value: 'ck'
                }
            ],
            platform: [
                {
                    label: 'ios',
                    value: 'ios'
                },
                {
                    label: 'android',
                    value: 'android'
                },
                {
                    label: 'pc',
                    value: 'pc'
                }
            ]
        }
    },
    created(){
        this.getInfluenserList();
    },
    methods: {
        handleConfirm(){
            this.selectdate = this.getDateTime();
        },
        getDateTime(){
            let date = this.date;
            let y = date.getFullYear();
            let m = date.getMonth() + 1;
            let d = date.getDate();
            m = m < 10 ? '0'+m : m;
            d = d < 10 ? '0'+d : d;
            return '' + y + '-' + m + '-' + d ;
        },
        onSelectInfluenser(){
            if(this.id){
                // console.log(this.form.id);
                getInfluencerPid(this.id).then((data)=>{
                    let pid = data.data;
                    this.cid = pid[0].influencer_product_id;
                    let name = _.find(this.influencerData, { 'value': this.id });
                    this.influenser = name.label;   
                    this.popupVisible = false;
                    // console.log(pid);
                }).catch((response)=> {
                    this.popupVisible = false;
                    Toast({
                        message: response.toString(),
                        iconClass: 'fa fa-times'
                    });
                });
            }else{
                Toast({
                    message: '请选择网红！',
                    position: 'top',
                });
            }
            // this.popupVisible = false;
        },
        selectInfluenser(){
            this.popupVisible = true;
        },
        openPicker() {
            this.$refs.picker.open();
        },
        onRegisterProduct(){
            // console.log(this.date);
            let sDate = this.getDateTime();
            if(this.cid && sDate){
                this.$router.push('/mapp/mmsgDetails/'+this.cid+'/'+sDate+'/'+this.type+'/'+this.os);
            }else{
                Toast({
                    message: '请选择日期或网红',
                    position: 'top',
                });
            }
            
        },
        getInfluenserList(){
            // 获取网红列表
            getInfluencer().then((data)=>{
                let list = [];
                data.data.forEach((d, i)=>{
                    list.push(
                        {
                            label: d.influencer_name,
                            value: d.influencer_id + ''
                        }
                    );
                });
                this.influencerData = list;
                // console.log(data.data);
            }).catch((response)=> {
                // console.log(response.toString());
                
            });
        } 
    }
}
</script>

<style>
    .msg-container{
        margin: 0px 20px;
    }
</style>
