<template>
    <div class="app">
        <mt-button size="large" @click="goMsgData">返回</mt-button>
        <el-table
            :data="tableData"
            style="width: 100%">
            <el-table-column
                prop="date"
                label="时间">
            </el-table-column>
            <el-table-column
                prop="count"
                label="数量">
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
import {getMsgListRequest} from "../../apiRequest.js";
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
            tableData: []
        }
    },
    created(){
        let prarams = this.$route.params;
        // console.log(id);
        this.getMsgList(prarams);
    },
    methods: {
        goMsgData(){
            this.$router.push('/mapp/mmsgData/');
        },
        getMsgList(obj){
            getMsgListRequest(obj).then((data)=>{
                let arr = [{date: '0-24', count: 0}];
                let total = 0;
                data.data.forEach((m, i)=>{
                    total += m.count*1;
                    let num = m.date.substr(m.date.length-2);
                    // console.log(m.date.substr(m.date.length-2));
                    arr.push(
                        {date: num*1 + '-' + (num*1+1), count: m.count}
                    )
                })
                arr[0].count = total;
                this.tableData= arr;
            }).catch((response)=> {
                   
            });
        }
    }
}
</script>

<style>

</style>
