<template>
    <div class="product-list">
        <!--<ul>
            <li v-for="p in pList">
                <a @click="onDetailes(p)">
                    <span class="span-left">{{p.product_name}}</span>
                    <span class="span-right">查看详情 <i class="fa fa-angle-right" ></i></span>
                </a>
            </li>
        </ul>-->
        <el-table
            :data="pList"
            border
            style="width: 100%">
            <el-table-column
                prop="product_name"
                label="产品名称">
            </el-table-column>
            <el-table-column
                prop="count"
                label="编辑产品">
                <template scope="scope">
                    <el-button type="text" @click="onDetailes(scope.$index, scope.row)">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
        <mt-popup
            v-model="popupVisible"
            style="width: 100%; height: 100%"
            position="right">
            <mt-button icon="back" size="large" @click="popupVisible=false">返回</mt-button>
            <div class="app">
                <mt-field label="产品名称" placeholder="Input productname" v-model="form.name"></mt-field>
                <mt-field label="ios链接" placeholder="Input ioslink" rows="3" v-model="form.ios_link"></mt-field>
                <mt-field label="android链接" placeholder="Input androidlink" rows="4" v-model="form.android_link"></mt-field>
                <mt-field label="pc链接" placeholder="Input pclink" rows="4" v-model="form.pc_link"></mt-field>
                <div class="register-form-button">   
                    <mt-button type="primary" size="large" @click="onUpdataProduct">提交</mt-button>
                    <mt-button type="danger" size="large" @click="handleRemoveClick" style="margin-top:20px">删除</mt-button>
                </div>
            </div>
        </mt-popup>
    </div>
</template>

<script>
import {getProductList, updateProduct, removeProduct} from "../../apiRequest.js";
import { Toast } from 'mint-ui';
import { MessageBox } from 'mint-ui';
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
            popupVisible: false,
            pList: [],
            form: {
                id: '',
                name: '',
                ios_link: '',
                android_link: '',
                pc_link: ''
            },
            oldProduct: {
                name: '',
                ios_link: '',
                android_link: '',
                pc_link: '',
            }
        }
    },
    created(){
        this.getProductList();
    },
    methods: {
        onDetailes(index, row){
            // console.log(data);
            this.form.name = row.product_name;
            this.form.ios_link = row.product_ios_link;
            this.form.android_link = row.product_android_link;
            this.form.pc_link = row.product_pc_link;
            this.form.id = row.product_id;
            this.oldProduct.name = row.product_name;
            this.oldProduct.ios_link = row.product_ios_link;
            this.oldProduct.android_link = row.product_android_link;
            this.oldProduct.pc_link = row.product_pc_link;
            this.popupVisible=true;
        },
        onUpdataProduct(){
            if(this.form.name !== this.oldProduct.name ||
                this.form.ios_link !== this.oldProduct.ios_link ||
                this.form.android_link !== this.oldProduct.android_link ||
                this.form.pc_link !== this.oldProduct.pc_link
            ){
                // console.log(this.form.id);
                updateProduct(this.form).then((data)=>{
                    // console.log(data.data);
                    if(data.data === 'ok'){
                        this.popupVisible=false;
                        Toast({
                            message: '更新成功！',
                            iconClass: 'fa fa-check'
                        });
                        this.getProductList();
                    }
                }).catch((response)=> {
                    
                })
            }else{
                this.popupVisible=false;
                Toast({
                    message: '没有改动！'
                });
            }
        },
        handleRemoveClick(row){
            MessageBox.confirm('确定执行此删除操作?').then((action) => {
                if(action === 'confirm'){
                    removeProduct(this.form.id).then((msg)=>{
                        if(msg.data === 'ok'){
                            this.popupVisible=false;
                            Toast({
                                message: '删除成功！',
                                iconClass: 'fa fa-check'
                            });
                            this.getProductList();
                        }
                    }).catch((response)=> {
                        this.popupVisible=false;
                        Toast({
                            message: response.toString(),
                            iconClass: 'fa fa-times'
                        });
                    })
                }
            });
            
        },
        getProductList(){
            // 异步请求列表
            getProductList().then((data)=>{
                // console.log(data.data);
                let arr = [];
                this.pList = data.data;
                // console.log(this.pList);
            }).catch((response)=> {
                
            })
        }     
    }
}
</script>

<style scoped>
    .product-list>ul{
        list-style: none;
        padding: 0;
        border-bottom: 1px solid #aaa;
        margin: 0;
    }
    .product-list>ul>li{
        height: 40px;
        border-top: 1px solid #aaa;
        line-height: 40px;
    }
    .product-list>ul>li>a>span.span-left{
        float: left;
    }
    .product-list>ul>li>a{
        display: block;
        text-decoration: none;
        text-align: right;
        color: #555;
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
    }
</style>
