<template>
    <div class="register-influenser">
        <mt-field label="网红名称" placeholder="Input name" v-model="form.name"></mt-field>
        <mt-cell
            title="选择产品"
            is-link
            value="点击选择产品">
            <mt-button size="large" @click="onSelsectProduct">{{productName}}</mt-button>
        </mt-cell>
        <mt-popup
            v-model="popupVisible"
            style="width: 70%; height: 80%; padding:20px; overflow: auto"
            position="right">
            <mt-radio
                title="产品列表"
                v-model="value"
                :options="options">
            </mt-radio>
            <mt-button type="primary" size="large" @click="onResultProduct" style="margin-top: 20px">确认选择</mt-button>
        </mt-popup>
        <div class="register-form-button">   
            <mt-button type="primary" plain size="large" @click="onRegisterInfluenser">点击注册</mt-button>
            <mt-button type="primary" plain size="large" @click="onReset" style="margin-top: 20px">重置</mt-button>
        </div>
    </div>
</template>

<script>
import {getProductList, registerInfluencer, registerInfluencerLink} from "../../apiRequest.js";
import { Toast } from 'mint-ui';
import _ from 'lodash';
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
            popupVisible: false,
            productName: '点击选择产品',
            value: '',
            form: {
                name: '',
                pid: '' 
            },
            options: []
        }
    },
    created(){
        this.getProductList();
    },
    methods: {
        onResultProduct(){
            this.popupVisible= false;
            let cpname = _.find(this.options, { 'value': this.value });
            this.productName = cpname.label;
        },
        onSelsectProduct(){
            this.popupVisible= true;
        },
        onRegisterInfluenser(){
            this.form.pid = this.value;
            // console.log(this.form.pid);
            if(this.form.name && this.form.pid){
                let obj = {
                    name: this.form.name.trim().toLowerCase( ) 
                }
                // console.log(obj.name);
                // return;
                // console.log(this.form.name.trim());
                // return;
                registerInfluencer(obj).then((data)=>{
                    // console.log(data.data, data.status);
                    if(data.status === 200){
                        let linkPrduct = {
                            influencer_id: data.data,
                            product_id: this.form.pid
                        }
                        registerInfluencerLink(linkPrduct).then((data2)=>{
                            // console.log(data2);
                            if(data2.status === 200){
                                Toast({
                                    message: '网红注册成功',
                                    iconClass: 'fa fa-check'
                                });
                                this.onReset();
                            }
                        }).catch((response)=> {
                            Toast({
                                message: response.toString(),
                                iconClass: 'fa fa-times'
                            });
                        });
                    }
                }).catch((response)=> {
                    Toast({
                        message: response.toString(),
                        iconClass: 'fa fa-times'
                    });
                });
            }else{
                Toast({
                    message: '请输入网红名字',
                    iconClass: 'fa fa-times'
                });
            }
        },
        onReset(){
            // console.log(this.value)
            this.form.name = '';
            this.productName = '点击选择产品';
        },
        getProductList(){
            getProductList().then((data)=>{
                // console.log(data);
                let arr = [];
                if(data.status === 200){
                    data.data.forEach((p, i)=>{
                        arr.push(
                            {
                                label: p.product_name,
                                value: p.product_id.toString()
                            }
                        );
                    })
                    this.options = arr;
                }
            }).catch((response)=> {
                Toast({
                    message: response.toString(),
                    iconClass: 'fa fa-times'
                });
            })
        }
    }
    
}
</script>

<style>
    .register-form-button{
        padding: 20px;
    }
</style>
