<template>
    <div class="app">
        <mt-field label="产品名称" placeholder="Input productname" v-model="form.name"></mt-field>
        <mt-field label="ios链接" placeholder="Input ioslink" rows="3" v-model="form.ios_link"></mt-field>
        <mt-field label="android链接" placeholder="Input androidlink" rows="4" v-model="form.android_link"></mt-field>
        <mt-field label="pc链接" placeholder="Input pclink" rows="4" v-model="form.pc_link"></mt-field>
        <div class="register-form-button">   
            <mt-button type="primary" plain size="large" @click="onRegisterProduct">点击注册</mt-button>
            <mt-button type="primary" plain size="large" @click="onReset" style="margin-top: 20px">重置</mt-button>
        </div>
    </div>
</template>

<script>
import {registerProduct} from "../../apiRequest.js";
import { Toast } from 'mint-ui';
export default {
    name: 'app',
    components: {

    },
    data () {
        return {
            form: {
                name: '',
                ios_link: '',
                android_link: '',
                pc_link: ''
            }
        }
    },
    created: ()=>{
        
    },
    methods: {
        onRegisterProduct(){
            // console.log(this.form.name);
            if(this.form.name && this.form.ios_link && this.form.android_link){
                registerProduct(this.form).then((data)=>{
                    // console.log(data);
                    if(data.status === 200){
                        Toast({
                            message: '产品注册成功',
                            iconClass: 'fa fa-check'
                        });
                        this.onReset();
                    }
                }).catch((response)=>{
                    Toast({
                        message: response.toString(),
                        iconClass: 'fa fa-times'
                    });
                });
            }else{
                
            }
        },
        onReset(){
            this.form.name = '';
            this.form.ios_link = '';
            this.form.android_link = '';
            this.form.pc_link = '';
        }
    }
}
</script>

<style>

</style>
