<template>
  <div class="app">
    <NavMenu></NavMenu>
    <el-row :gutter="0" class="first-row">
      <el-col :lg="5" :md="5" :sm="5" :xs="5" v-bind:style="styleObject"><Menus></Menus></el-col>
      <el-col :lg="19" :md="19" :sm="19" :xs="19" v-bind:style="styleObject">
        <div class="content">
          <router-view></router-view>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import NavMenu from './NavMenu';
  import Menus from './Menu';
  export default {
    name: 'app',
    components: {
      NavMenu,
      Menus
    },
    data () {
      return {
        msg: 'Welcome',
        styleObject: {
          height: window.innerHeight - 60 + 'px',
          overflow: 'auto'
        },
      }
    },
    created () {
      
    },
    methods: {
      
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  .app{
    overflow: auto;
  }
  body{
    padding: 0;
    margin: 0;
  }
  .left{
    text-align: left;
  }
  .right{
    text-align: right;
  }
  .cter{
    text-align: center;
  }
  .line{
    margin-top: 10px;
  }
  .first-row{
    background-color: #eee;
  }
  .footer{
    margin-top: 100px;
    background-color: #ccc;
  }
</style>
