<template>
  <div style="padding: 0px 25px">
      <h3><i class="el-icon-edit"></i> 网红列表</h3>
      <el-table
            :data="pList"
            border
            style="width: 100%">
            <el-table-column
                prop="influencer_name"
                label="网红名称">
            </el-table-column>
            <el-table-column
                prop="influencer_id"
                label="网红id">
            </el-table-column>
            <el-table-column
                prop="product_name"
                label="关联产品">
            </el-table-column>
            <el-table-column
                prop="editer"
                label="编辑">
                <template scope="scope">
                    <el-button @click="handleClick(scope.$index, scope.row)" size="small">编辑</el-button>
                    <el-button @click="handleRemoveClick(scope.$index, scope.row)" type="danger" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="编辑网红" v-model="isVisible">
            <el-form :model="form" ref="form">
                <el-form-item label="网红名称">
                    <el-input v-model="form.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="关联产品">
                    <el-select v-model="form.pid" placeholder="请选择网红" style="width: 100%">
                        <el-option
                            v-for="prodct in pruductData"
                            :label="prodct.product_name"
                            :value="prodct.product_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="isVisible = false">取 消</el-button>
                <el-button type="primary" @click="updata">确 定</el-button>
            </div>
        </el-dialog>
  </div>
</template>

<script>
    import {
        getInfluencer, 
        getProductList, 
        getInfluencerPid, 
        updateInfluencer, 
        updateInfluencerLink,
        removeInfluenser,
        removeInfluenserLink
    } from "../../apiRequest.js";
    export default {
        data() {
            return {
                isVisible: false,
                pruductData: [],
                form: {
                    name: '',
                    pid: ''
                },
                oldInfluenser: {
                    name: '',
                    pid: ''
                },
                pList: [],
                updataObj: {
                    id: '',
                    name: ''
                },
                updataLinkObj: {
                    id: '',
                    influencer_id: '',
                    product_id: ''
                },
            }
        },
        created(){
            this.getProductList();
            this.getInfluenserList();
        },
        methods: {
            updata(){
                this.updataObj.name = this.form.name;
                this.updataLinkObj.product_id = this.form.pid;
                if(this.form.name !== this.oldInfluenser.name || this.form.pid !== this.oldInfluenser.pid){
                    if(this.form.name !== this.oldInfluenser.name){
                        // updata name
                        updateInfluencer(this.updataObj).then((data)=>{
                            this.$notify.success({
                                title: '',
                                message: '网红名字更新成功'
                            });
                            this.isVisible = false;
                            this.getInfluenserList();
                        }).catch((response)=> {
                            // 错误处理
                            this.$notify.error({
                                title: '错误',
                                message: response.toString()
                            });
                        });
                    }
                    if(this.form.pid !== this.oldInfluenser.pid){
                        // 更新关联关系
                        updateInfluencerLink(this.updataLinkObj).then((data)=>{
                            this.$notify.success({
                                title: '',
                                message: '关联产品更新成功'
                            });
                            this.isVisible = false;
                            this.getInfluenserList();
                        }).catch((response)=> {
                            // 错误处理
                            this.$notify.error({
                                title: '错误',
                                message: response.toString()
                            });
                        });
                    }
                }else{
                    this.$notify.warning({
                        title: '',
                        message: '没有做任何修改'
                    });
                    this.isVisible = false;
                }
            },
            handleClick(index, row){
                this.form.name = row.influencer_name;
                this.oldInfluenser.name = row.influencer_name;
                this.updataObj.id = row.influencer_id;
                this.updataLinkObj.influencer_id = row.influencer_id;
                if(row.product_name !== 'empty'){
                    getInfluencerPid(row.influencer_id).then((data)=>{
                        this.updataLinkObj.id = data.data[0].influencer_product_id;
                        this.form.pid = data.data[0].product_id;
                        this.oldInfluenser.pid = data.data[0].product_id;
                    }).catch((response)=> {
                        this.$notify.error({
                            title: '错误',
                            message: response.toString()
                        });
                    });
                }
                this.isVisible = true;
            },
            handleRemoveClick(index, row){
                this.$confirm('此操作将永久删除该产品, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 请求删除
                    removeInfluenser(row.influencer_id*1).then((data)=>{
                        this.$notify({
                            type: 'success',
                            message: '删除成功!'
                        });
                        this.getInfluenserList();
                    }).catch((response) => {
                        this.$notify.error({
                            title: '错误',
                            message: response.toString()
                        });        
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });          
                });
            },
            getInfluenserList(){
                // 异步请求列表
                getInfluencer().then((data)=>{
                    this.pList = data.data ? data.data : '';
                }).catch((response)=> {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            },
            getProductList(){
                getProductList().then((data)=>{
                    this.pruductData = data.data ? data.data : '';
                }).catch((response)=> {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            }   
        }
    }
</script>