<template>
  <div class="login-box">
		
		<el-form label-position="top" :model="formStacked" class="demo-form-stacked">
			<h2 style="text-align: center">登陆</h2>
			<el-form-item label="用户名">
				<el-input v-model="formStacked.name"></el-input>
			</el-form-item>
			<el-form-item label="密码">
				<el-input v-model="formStacked.region" type="password"></el-input>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="submitForm('ruleForm')">登陆</el-button>
				<el-button @click="resetForm('ruleForm')">重置</el-button>
				<el-button @click="goBack">取消</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
	import md5 from 'md5';
	import store from 'store2';
  export default {
    data() {
      return {
        formStacked: {
          name: store('name') || '',
          password: store('password') || ''
        }
      };
    },
		created: function(){
			
		},
		methods: {
			submitForm(formName) {
        // console.log(this.formStacked.name);
				// md5加密
				// let str = md5('123456798');
				// console.log(str);

				// 登陆成功后
				store('name', this.formStacked.name);
        store('password', this.formStacked.region);
				this.$router.push('/app/star');
      },
      resetForm(formName) {
        // console.log(formName);
				this.formStacked.name = '';
				this.formStacked.region = '';
      },
			goBack(){
				// this.$router.go('-1'); 
				this.$router.push('/app/star');
			}
		}
  }
</script>

<style scoped>
	.login-box{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(1, 1, 1, .3)
	}
	.demo-form-stacked{
		width: 25%;
		margin: 0 auto;
		margin-top: 100px;
		background-color: #fff;
		padding: 30px;
		border-radius: 10px;
	}
</style>