<template>
  <div class="left-menu" :style="{'height': screenHeight}">
    <el-menu 

      :style="{'min-height': screenHeight}" 
      class="el-menu-vertical-demo"
      router
      @select="handleSelect" 
      @open="handleOpen" 
      @close="handleClose">
      <el-menu-item-group title="新方案示范区">
        <el-menu-item index="/app/dashBord"><i class="el-icon-message"></i>DASHBOARD</el-menu-item>
        <el-menu-item index="/app/company"><i class="el-icon-message"></i>公司管理</el-menu-item>
        <el-menu-item index="/app/influencerList"><i class="el-icon-message"></i>网红管理</el-menu-item>
        <el-menu-item index="/app/money"><i class="el-icon-message"></i>财务管理</el-menu-item>
        <el-menu-item index="/app/systemManage"><i class="el-icon-message"></i>系统管理</el-menu-item>
      </el-menu-item-group>
      <el-menu-item-group title="Star.store">
        <el-submenu index="1">
          <template slot="title"><i class="el-icon-message"></i>Star Home</template>
          <el-menu-item index="/app/star"><i class="el-icon-message"></i>star store</el-menu-item>
          <el-menu-item index="/app/registerProduct"><i class="el-icon-message"></i>产品注册</el-menu-item>
          <el-menu-item index="/app/register"><i class="el-icon-message"></i>网红注册</el-menu-item>
          <el-menu-item index="/app/productList"><i class="el-icon-message"></i>产品列表</el-menu-item>
          <el-menu-item index="/app/influenserList"><i class="el-icon-message"></i>网红列表</el-menu-item>
        </el-submenu>
      </el-menu-item-group>
      <el-menu-item-group title="数据统计">
        <el-submenu index="2">
          <template slot="title"><i class="el-icon-message"></i>数据统计</template>
          <el-menu-item index="/app/onmsgList"><i class="el-icon-message"></i>在线数据</el-menu-item>
          <el-menu-item index="/app/offMsgList"><i class="el-icon-message"></i>离线数据</el-menu-item>
          <el-menu-item index="/app/sourceData"><i class="el-icon-message"></i>来源分析</el-menu-item>
        </el-submenu>
      </el-menu-item-group>
    </el-menu>
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: 'Welcome',
      screenHeight: window.innerHeight-60 +'px'
    }
  },
  methods: {
    handleSelect(key, keyPath){
      // if (key === "1-1") {
      //   this.$router.push('/app/boo');
      // };
      // if (key === "1-4") {
      //   this.$router.push({ path: 'register'});
      // };
    },
    handleOpen(key, keyPath) {
  
    },
    handleClose(key, keyPath) {
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .left-menu{
    overflow: auto;
    text-align: left;
  }
  .el-menu-demo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }
</style>
