<template>
  <div class="hello">
    <el-menu theme="dark" default-active="/app/star" class="el-menu-demo" mode="horizontal" router @select="handleSelect">
      <el-menu-item index="/app/star"><i class="el-icon-star-on"></i>StarStore!</el-menu-item>
      <el-submenu index="5" class="right" v-bind:style="{ display: isDisplay}">
        <template slot="title">登陆/注册</template>
        <el-menu-item index="/login" style="width:100%">登陆</el-menu-item>
        <!--<br/>
        <el-menu-item index="/newUser">注册</el-menu-item>-->
      </el-submenu>
      <el-submenu index="6" class="right" v-bind:style="{ display: isUserLogin}">
        <template slot="title"><i class="el-icon-star-off"> 欢迎来到StarStore:</i>{{currentUserName}}</template>
        <el-menu-item index="/changePass">修改密码</el-menu-item>
        <br>
        <el-menu-item index="/login">退出登陆</el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import store from 'store2';
export default {
  data () {
    let name = store('name');
    return {
      msg: 'Welcome',
      input2: '',
      currentUserName: name,
      isDisplay: name ? 'none' :'block',
      isUserLogin: name ? 'block' :'none',
    }
  },
  methods: {
    handleIconClick(ev) {},
    handleSelect(key, keyPath) {
      // if (key === "1") {
      //   this.$router.push('/app/boo');
      // };
      // if (key === "5-1") {
      //   this.$router.push({ path: '/login'});
      // };
      if (key === "/login") {
        store('name', '');
        store('password', '');
      };
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.hello{
  /*position: fixed;
  top: 0;*/
  width: 100%;
  /*left: 0;*/
  height: 60px;
  /*z-index: 100;*/
}
.right{
  float: right;
}
</style>
