<template>
    <div style="padding: 0px 25px">
        <h3><i class="el-icon-edit"></i> 离线数据</h3>
        <el-row :gutter="0" class="first-row">
            <el-col :lg="7" :md="7" :sm="7" :xs="7">
                <div class="block">
                    <el-date-picker
                        v-model="dateValue"
                        type="daterange"
                        align="left"
                        style="width: 100%"
                        placeholder="选择日期范围"
                        :picker-options="pickerOptions2">
                    </el-date-picker>
                </div>
            </el-col>
            <el-col :lg="5" :md="5" :sm="5" :xs="5">
                <div class="block">
                    <el-select v-model="id" filterable placeholder="选择网红" style="width: 100%">
                        <el-option
                            v-for="influencer in influencerData"
                            :label="influencer.influencer_name"
                            :value="influencer.influencer_name">
                        </el-option>
                    </el-select>   
                </div>
            </el-col>
            <el-col :lg="4" :md="4" :sm="4" :xs="4">
                <div class="block">
                    <el-button type="primary" style="margin-left: 25px;" @click="onShowMsgList">查看</el-button>
                </div>
            </el-col> 
        </el-row>
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
            <el-tab-pane label="数据" name="first">
                <el-table
                    :data="tableData"
                    v-loading="loading"
                    element-loading-text="拼命加载中"
                    border
                    style="width: 100%;">
                    <el-table-column type="expand">
                        <template scope="props">
                            <el-table
                                :data="props.row.subData"
                                style="width: 100%">
                                <el-table-column
                                    prop="date"
                                    label="date">
                                </el-table-column>
                                <el-table-column
                                    prop="os"
                                    :filters="[{ text: 'ios', value: 'ios' }, { text: 'android', value: 'android' }, { text: 'pc', value: 'pc' }]"
                                    :filter-method="filterTag"
                                    label="平台">
                                    <template scope="scope">
                                        <el-tag
                                        :type="scope.row.os === 'ios' ? 'primary' : scope.row.os === 'pc' ? 'warning' :'success'"
                                        close-transition>{{scope.row.os}}</el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    prop="count"
                                    label="数量">
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-table-column>
                    <el-table-column
                        prop="date"
                        label="日期">
                    </el-table-column>
                    <el-table-column
                        prop="id"
                        label="influenser">
                    </el-table-column>
                    <el-table-column
                        label="IOS">
                            <el-table-column
                                prop="picount"
                                label="PB">
                            </el-table-column>
                            <el-table-column
                                prop="cicount"
                                label="CK">
                            </el-table-column>
                    </el-table-column>
                    <el-table-column
                        label="ANDROID">
                        <el-table-column
                                prop="pacount"
                                label="PB">
                            </el-table-column>
                            <el-table-column
                                prop="cacount"
                                label="CK">
                            </el-table-column>
                    </el-table-column>
                    <el-table-column
                        label="PC">
                        <el-table-column
                                prop="ppcount"
                                label="PB">
                            </el-table-column>
                            <el-table-column
                                prop="cpcount"
                                label="CK">
                            </el-table-column>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="图表" name="second">
                <el-row :gutter="0" class="first-row">
                    <el-col :lg="8" :md="8" :sm="8" :xs="8">
                        <div id="main-line-ios" style="width: 100%; height: 300px; background: #aaa" class="charts-content"></div>
                    </el-col>
                    <el-col :lg="8" :md="8" :sm="8" :xs="8">
                        <div id="main-line-android" style="width: 100%; height: 300px; background: #aaa" class="charts-content"></div>
                    </el-col>
                    <el-col :lg="8" :md="8" :sm="8" :xs="8">
                        <div id="main-line-pc" style="width: 100%; height: 300px; background: #aaa" class="charts-content"></div>
                    </el-col> 
                </el-row>
                <el-row :gutter="0" class="first-row">
                    <el-col :lg="8" :md="8" :sm="8" :xs="8">
                        <div id="main-pie-pb" style="width: 100%; height: 300px; background: #aaa" class="charts-content"></div>
                    </el-col>
                    <el-col :lg="8" :md="8" :sm="8" :xs="8">
                        <div id="main-pie-ck" style="width: 100%; height: 300px; background: #aaa" class="charts-content"></div>
                    </el-col>
                    <el-col :lg="8" :md="8" :sm="8" :xs="8">
                        
                    </el-col> 
                </el-row>
            </el-tab-pane>
        </el-tabs>
        
    </div>
</template>

<script>
    import {getInfluencer, getCkHourly, getPbHourly, getCkFromDaily, getContactId} from "../../apiRequest.js";
    import moment from 'moment';
    import echarts from 'echarts';
    export default {
        name: 'app',
        components: {
            
        },
        data () {
            return {
                chart: null,
                activeName: 'first',
                dateValue: [],
                loading: false,
                influencerData: [],
                id: '',
                radio: 'ck',
                pickerOptions2: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                tableData: []
            }
        },
        created(){
            this.getInfluenserList();
        },
        methods: {
            filterTag(value, row) {
                return row.os === value;
            },
            onShowMsgList(){
                if(!this.dateValue[0]){
                    this.$notify.warning({
                        title: '',
                        message: '请选择时间段'
                    });
                    return;
                }
                if(!this.id){
                    this.$notify.warning({
                        title: '',
                        message: '请选择网红'
                    });
                    return;
                }
                this.loading = true;
                let start = moment(this.dateValue[0]).format('YYYY-MM-DD');
                let end = moment(this.dateValue[1]).format('YYYY-MM-DD');
                if(start === end){
                    this.$notify.warning({
                        title: '',
                        message: '日期区间不能为同一天'
                    });
                    this.loading = false;
                    return;
                }
                let s = moment(this.dateValue[0]);
                let e = moment(this.dateValue[1]).format('YYYY-MM-DD');
                let xarr = [start];
                while (true){
                    let ss = s.add(1, 'days').format('YYYY-MM-DD');
                    xarr.push(ss);
                    if(ss === e){
                        break;
                    }
                }
                this.xAxisAll = xarr;
                // let obj = {
                //     id: 'merjades',
                //     startdate: start,
                //     enddate: end
                // };
                let obj = {
                    id: this.id,
                    startdate: start,
                    enddate: end
                };
                getCkHourly(obj).then((data)=>{
                    // if(data.data.length === 0){
                    //     this.loading = false;
                    //     return;
                    // }
                    let newData = [];
                    data.data.forEach((d, i)=>{
                        newData.push(
                            {
                                count: d.count,
                                date: d.date.slice(0, 10),
                                id: d.id,
                                os: d.os
                            }
                        );
                    });
                    let uniq = _.uniqBy(newData, 'date');
                    uniq.forEach((u, i)=>{
                        u.count = 0;
                    })
                    let newArr = [
                        {
                            date: start + '-' + end,
                            id: this.id,
                            cicount: 0,
                            cacount: 0,
                            cpcount: 0,
                            picount: 0,
                            pacount: 0,
                            ppcount: 0,
                            subData: []
                        }
                    ];
                    uniq.forEach((u, i)=>{
                        let num = 0;
                        let iosnum = 0;
                        let andnum = 0;
                        let pcnum = 0;
                        let subArr = [];
                        data.data.forEach((d, i)=>{
                            let dd = d.date.slice(0, 10);
                            if(dd === u.date){
                                if(d.os === 'ios'){
                                    iosnum += d.count;
                                }else if(d.os === 'android'){
                                    andnum += d.count;
                                }else if(d.os === 'pc'){
                                    pcnum += d.count;
                                };
                                subArr.push(d);
                            }
                        });
                        newArr.push(
                            {
                                date: u.date,
                                id: u.id,
                                cicount: iosnum,
                                cacount: andnum,
                                cpcount: pcnum,
                                picount: 0,
                                pacount: 0,
                                ppcount: 0,
                                subData: subArr
                            }
                        );
                    });
                    // console.log('-->',newArr[1].subData);
                    // 获取关联id
                    getContactId({name: this.id}).then((data)=>{
                        // console.log(data.data[0].influencer_product_id);
                        let pobj = {
                            id: data.data[0].influencer_product_id,
                            startdate: start,
                            enddate: end
                        };
                        // let pobj = {
                        //     id: 3,
                        //     startdate: start,
                        //     enddate: end
                        // };
                        getPbHourly(pobj).then((data)=>{
                            let pit = 0;
                            let pat = 0;
                            let ppt = 0;
                            let cit = 0;
                            let cat = 0;
                            let cpt = 0;
                            newArr.forEach((n, i)=>{
                                let pinum = 0;
                                let panum = 0;
                                let ppnum = 0;
                                data.data.forEach((d, i)=>{
                                    let t = d.date.slice(0, 10);
                                    if(n.date === t){
                                        if(d.os === 'ios'){
                                            pinum += d.count;
                                        }else if(d.os === 'android'){
                                            panum += d.count;
                                        }else if(d.os === 'pc'){
                                            ppnum += d.count;
                                        };
                                    }
                                });
                                n.picount = pinum;
                                n.pacount = panum;
                                n.ppcount = ppnum;
                                pit += n.picount;
                                pat += n.pacount;
                                ppt += n.ppcount;
                                cit += n.cicount;
                                cat += n.cacount;
                                cpt += n.cpcount;
                            })
                            newArr[0].picount = pit + ' (' + ((pit/cit*100).toFixed('2') + '%)');
                            newArr[0].pacount = pat + ' (' + ((pat/cat*100).toFixed('2') + '%)');
                            newArr[0].ppcount = ppt + ' (' + ((ppt/cpt*100).toFixed('2') + '%)');
                            newArr[0].cicount = cit;
                            newArr[0].cacount = cat;
                            newArr[0].cpcount = cpt;
                            this.tableData = newArr;
                            this.loading = false;
                        }).catch((response)=>{
                            this.$notify.error({
                                title: '错误',
                                message: response.toString()
                            });
                        })
                    }).catch((response)=>{
                        this.$notify.error({
                            title: '错误',
                            message: response.toString()
                        });
                    })
                }).catch((response)=>{
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                })
            },
            getInfluenserList(){
                // 获取网红列表
                getInfluencer().then((data)=>{
                    this.influencerData = data.data;
                }).catch((response)=> {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                });
            },
            handleClick(tab, event) {
                if(tab.name === 'second' && this.tableData.length !== 0){
                    this.$nextTick(()=>{ 
                        let leg = ['IOS', 'ANDROID', 'PC'];
                        let data = [
                            {
                                name: 'IOS',
                                value: this.tableData[0].picount.split('')[0]*1
                            },
                            {
                                name: 'ANDROID',
                                value: this.tableData[0].pacount.split('')[0]*1
                            },
                            {
                                name: 'PC',
                                value: this.tableData[0].ppcount.split('')[0]*1
                            }
                        ]
                        let data2 = [
                            {
                                name: 'IOS',
                                value: this.tableData[0].cicount
                            },
                            {
                                name: 'ANDROID',
                                value: this.tableData[0].cacount
                            },
                            {
                                name: 'PC',
                                value: this.tableData[0].cpcount
                            }
                        ]
                        this.drawGraph('main-pie-pb',this.tableData[0].id+'-PB百分比', leg, data, 'pie');
                        this.drawGraph('main-pie-ck',this.tableData[0].id+'-CK百分比', leg, data2, 'pie');
                        let leg2 = ['PB', 'CK'];
                        this.drawGraph('main-line-ios',this.tableData[0].id+'-IOS折线图', leg2 , this.tableData, 'line', 'ios');
                        this.drawGraph('main-line-android',this.tableData[0].id+'-ANDROID折线图', leg2 , this.tableData, 'line', 'android');
                        this.drawGraph('main-line-pc',this.tableData[0].id+'-PC折线图', leg2 , this.tableData, 'line', 'pc');
                    });
                }
            },
             // 绘图  
            drawGraph(id,title, leg, data, type, is) {   
                let options = {
                    title: {  
                        text: title,   
                        x: 'left'  
                    },   
                    legend: {  
                        x: 'center',  
                        y: 'bottom',  
                        data: leg 
                    },
                    toolbox: {  
                        show: true,  
                        feature: {  
                            mark: {  
                                show: true  
                            },  
                            dataView: {  
                                show: true,  
                                readOnly: false  
                            },  
                            magicType: {  
                                show: true,  
                                type: ['pie']  
                            },  
                            restore: {  
                                show: true  
                            },  
                            saveAsImage: {  
                                show: true  
                            }  
                        }  
                    } 
                }
                if(type === 'pie'){
                    options.calculable= true;
                    options.series = [
                        {
                            name: '种类',  
                            type: 'pie',
                            radius: [20, 80],   
                            center: ['50%', '50%'], 
                            data: data
                        }
                    ];
                    options.tooltip= {  
                        trigger: 'item',  
                        formatter: "{a} <br/>{b} : {c} ({d}%)"  
                    };
                }else if(type === 'line'){
                    let xx = [];
                    let pbdata = [];
                    let ckdata = [];
                    this.xAxisAll.forEach((x, i)=>{
                        let value = _.find(data, { 'date': x });
                        // console.log(value);
                        if(i !== 0){
                            if(is === 'ios'){
                                pbdata.push(value ? value.picount : 0);
                                ckdata.push(value ? value.cicount : 0);
                            }
                            if(is === 'android'){
                                pbdata.push(value ? value.pacount : 0);
                                ckdata.push(value ? value.cacount : 0);
                            }
                            if(is === 'pc'){
                                pbdata.push(value ? value.ppcount : 0);
                                ckdata.push(value ? value.cpcount : 0);
                            }
                            xx.push(x);
                        }
                    })
                    // data.forEach((d, i)=>{
                    //     // console.log(d);
                    //     if(i !== 0){
                    //         if(is === 'ios'){
                    //             pbdata.push(d.picount);
                    //             ckdata.push(d.cicount);
                    //         }
                    //         if(is === 'android'){
                    //             pbdata.push(d.pacount);
                    //             ckdata.push(d.cacount);
                    //         }
                    //         if(is === 'pc'){
                    //             pbdata.push(d.ppcount);
                    //             ckdata.push(d.cpcount);
                    //         }
                    //         x.push(d.date);
                    //     }
                    // });
                    options.tooltip= {  
                         trigger: 'axis' 
                    };
                    options.series = [
                        {
                            name: 'PB',  
                            type: 'line',
                            data: pbdata
                        },
                        {
                            name: 'CK',  
                            type: 'line',
                            data: ckdata
                        },
                    ];
                    options.xAxis= {
                        type: 'category',
                        boundaryGap: false,
                        data: xx
                    };
                    options.yAxis= {
                        type: 'value'
                    };
                }
                this.chart = echarts.init(document.getElementById(id))  
                this.chart.showLoading();   
                this.chart.setOption(options);  
                this.chart.hideLoading();  
            }
        },
        mounted() {  
             
        }  
    }
</script>

<style scoped>
    .off-msg-chart{
        padding: 0 25px;
    }
    .charts-content{
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
</style>
