<template>
  <div style="padding: 0px 25px">
      <h3><i class="el-icon-edit"></i>注册产品</h3>
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item label="产品名称">
          <el-input placeholder="请输入产品名称" v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="推广链接">
          <el-input placeholder="请输入ios产品推广链接" v-model="form.ios_link"></el-input>
          <div style="height: 20px"></div>
          <el-input placeholder="请输入android产品推广链接" v-model="form.android_link"></el-input>
          <div style="height: 20px"></div>
          <el-input placeholder="请输入pc产品推广链接" v-model="form.pc_link"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">立即创建</el-button>
          <el-button @click="onReset">重置</el-button>
        </el-form-item>
      </el-form>
  </div>
</template>

<script>
  import {registerProduct} from "../../apiRequest.js";
  export default {
    data() {
      return {
        form: {
          name: '',
          ios_link: '',
          android_link: '',
          pc_link: ''
        }
      }
    },
    methods: {
      onSubmit() {
        
        if(this.form.name && this.form.ios_link && this.form.android_link){
          registerProduct(this.form).then((data)=>{

            if((data.data+'').indexOf('unique')!=-1){
                this.$notify({
                  message: '该产品已存在，请重新注册'
                });
                this.onReset();
             }else{
              
            if(data.status === 200){
              this.$notify({
                title: '成功',
                message: '产品创建成功',
                type: 'success'
              });
              this.onReset();
            }}
          }).catch((response)=>{
            this.$notify.error({
              title: '错误',
              message: response.toString()
            });
          });
        }else{
          this.$notify.warning({
            title: '',
            message: !this.form.name ? '请输入产品的名称' : this.form.ios_link ? '请输入android产品的推广链接' : '请输入ios产品的推广链接'
          });
        }
      },
      onReset(){
          this.form.name = '';
          this.form.ios_link = '';
          this.form.android_link = '';
          this.form.pc_link = '';
      }
    }
  }
</script>