<template>
    <div style="padding: 0px 25px">
        <h3><i class="el-icon-edit"></i> 来源分析</h3>
        <el-row :gutter="0">
            <el-col :lg="8" :md="8" :sm="8" :xs="8">
                <div class="block">
                    <el-date-picker
                        v-model="dateValue"
                        type="daterange"
                        align="left"
                        style="width: 100%"
                        placeholder="选择日期范围"
                        :picker-options="pickerOptions2">
                    </el-date-picker>  
                </div>
            </el-col>
            <el-col :lg="5" :md="5" :sm="5" :xs="5">
                <div class="block">
                    <el-select v-model="id" filterable placeholder="选择网红" style="width: 100%">
                        <el-option
                            v-for="influencer in influencerData"
                            :label="influencer.influencer_name"
                            :value="influencer.influencer_name">
                        </el-option>
                    </el-select>   
                </div>
            </el-col>
            <el-col :lg="5" :md="5" :sm="5" :xs="5">
                <div class="block">
                    <el-button type="primary" style="margin-left: 25px;" @click="onShowMsgList">查看</el-button>
                </div>
            </el-col>
            <el-col :lg="5" :md="5" :sm="5" :xs="5">
                <div class="block">
                    <el-button style="margin-left: 25px;" @click="onShowChart">查看饼图</el-button>
                </div>
            </el-col>
        </el-row>
        <el-dialog title="来源百分比" v-model="dialogTableVisible">
            <div id="main-source" style="width: 100%; height: 400px"></div>
        </el-dialog>
        <div>
            <el-table :data="tableData" style="width: 100%" v-loading="loading">
                <el-table-column type="expand">
                    <template scope="props">
                        <el-form label-position="left" inline class="demo-table-expand">
                            <el-form-item label="来源地址">
                                <span>{{ props.row.from }}</span>
                            </el-form-item>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column label="日期"  prop="date"></el-table-column>
                <el-table-column label="网红名称" prop="id"></el-table-column>
                <el-table-column
                    prop="os"
                    :filters="[{ text: 'ios', value: 'ios' }, { text: 'android', value: 'android' }, { text: 'pc', value: 'pc' }]"
                    :filter-method="filterTag"
                    label="平台">
                    <template scope="scope">
                        <el-tag
                        :type="scope.row.os === 'ios' ? 'primary' : scope.row.os === 'pc' ? 'warning' :'success'"
                        close-transition>{{scope.row.os}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="数量" prop="count"></el-table-column>
                <el-table-column label="来源" prop="froms"></el-table-column>
            </el-table>
        </div>
        <!--<div id="main-plat" style="width: 50%; height: 300px"></div>
        <div id="main-source" style="width: 50%; height: 300px"></div>-->
    </div>
</template>

<script>
    import echarts from 'echarts';
    import {getCkFromDaily, getInfluencer} from "../../apiRequest.js";
    import _ from 'lodash';
    import moment from 'moment';
    export default {
        name: 'app',
        components: {

        },
        data () {
            return {
                dateValue: [],
                dialogTableVisible: false,
                loading: false,
                influencerData: [],
                id: '',
                plat: '',
                tableData: [],
                styleObject: {
                    height: window.innerHeight - 60 + 'px',
                    overflow: 'auto'
                },
                chart: null, 
                resourceData: [], 
                pickerOptions2: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                        }
                    }]
                },
            }
        },
        created(){
            this.getInfluenserList();
        },
        methods: {
            onShowChart(){
                let data = [];
                let leg = Object.keys(this.resourceData);
                for(let k in this.resourceData ){
                    data.push(
                        {
                            name: k,
                            value: this.resourceData[k]*1
                        }
                    )
                }
                this.dialogTableVisible = true;
                this.$nextTick(()=> {  
                    this.drawGraph('main-source',leg , data);  
                }) 
            },
            filterTag(value, row) {
                // console.log(value, row);
                return row.os === value;
            },
            onShowMsgList(){
                if(this.dateValue.length === 0){
                    this.$notify.warning({
                        title: '!!',
                        message: '请选择日期区间'
                    });
                    return;
                }
                if(!this.id){
                    this.$notify.warning({
                        title: '!!',
                        message: '请选择网红'
                    });
                    return;
                }
                this.loading = true;
                let start = moment(this.dateValue[0]).format('YYYY-MM-DD');
                let end = moment(this.dateValue[1]).format('YYYY-MM-DD');
                if(start === end){
                    this.$notify.warning({
                        title: '',
                        message: '日期区间不能为同一天'
                    });
                    this.loading = false;
                    return;
                }
                // let obj = {
                //     id: 'merjades',
                //     startdate: '2017-03-01',
                //     enddate: '2017-03-08'
                // };
                let obj = {
                    id: this.id,
                    startdate: start,
                    enddate: end
                };
                getCkFromDaily(obj).then((data)=>{
                    // console.log(data);
                    let newData = [];
                    let t = 0;
                    let it = 0;
                    let at = 0;
                    let pt = 0;
                    let iosData = [];
                    let androidData = [];
                    let pcData = [];
                    let froms = [];
                    let resourceArr = [];
                    data.data.forEach((d, i)=>{
                        let dd = d;
                        if(d.from !== '-'){
                            dd.froms = d.from.split('/')[2].split('.')[1];
                            resourceArr.push({[d.from.split('/')[2].split('.')[1]]: d.count});
                            froms.push(
                                { 
                                    name: d.from.split('/')[2].split('.')[1],
                                    value: d.count
                                }
                            );
                        }else{
                            dd.froms = d.from;
                            resourceArr.push({other: d.count});
                            froms.push(
                                { 
                                    name: d.from,
                                    value: d.count
                                }
                            );
                        }
                        newData.push(dd);
                    })
                    let newResourceData = _.transform(resourceArr, function(result, value, ley){
                        if(!result[_.keys(value)[0]]){
                            result[_.keys(value)[0]] = 0;
                        }
                        result[_.keys(value)[0]] += _.values(value)[0];
                    }, {})
                    // console.log(newResourceData);
                    this.resourceData = newResourceData;
                    this.tableData = newData;
                    this.loading = false;
                }).catch((response)=> {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                });
            },
            getInfluenserList(){
                // 获取网红列表
                getInfluencer().then((data)=>{
                    this.influencerData = data.data;
                }).catch((response)=> {
                    this.$notify.error({
                        title: '错误',
                        message: response.toString()
                    });
                });
            },
            // 绘图  
            drawGraph(id, leg, data) {  
                // 绘图方法  
                this.chart = echarts.init(document.getElementById(id))  
                // 皮肤添加同一般使用方式  
                this.chart.showLoading();   
                this.chart.setOption({  
                    title : {
                        text: this.id + '-来源百分百',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        x : 'center',
                        y : 'bottom',
                        data: leg
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel']
                            },
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name: this.id,
                            type:'pie',
                            radius : [50, 110],
                            center : ['50%', '50%'],
                            data: data
                        }
                    ]
                })  
                this.chart.hideLoading();  
            }  
        } 
    }
</script>

<style scoped>
    #main{
        width: 100%;
        height: 100%;
    }
</style>
