<template>
  <div style="text-align: left;padding: 20px 50px">
    <h1>StarStore! <li class="el-icon-menu"></li></h1>
    <!--<el-carousel :interval="5000" arrow="always">
      <el-carousel-item v-for="item in 4">
        <img src="../imgs/06.png" class="image">
      </el-carousel-item>
    </el-carousel>-->
    <img src="../../imgs/06.png" class="image">
    <!--<img src="../imgs/07.png" class="image">-->
  </div>
</template>

<style>
  .image{
    width: 100%;
  }
</style>