<template>
  <div class="system">
    <el-row :gutter="0">
      <el-col :span="5">
          <h3>系统管理</h3>
      </el-col>
      <el-col :span="3" :offset="16">
          
      </el-col>
    </el-row>
    <el-tabs type="border-card" v-model="activeName">
      <el-tab-pane label="账号管理" name="f1">
        <el-button @click="addNewAccount" size="large" type="primary" style="float:right;marginBottom:10px;">新增账号</el-button>
        <el-table
          :data="tableData"
          style="width: 100%">
          <el-table-column
              prop="account"
              label="账号">
          </el-table-column>
          <!--<el-table-column
              prop="name"
              label="角色">
          </el-table-column>-->
          <el-table-column
              fixed="right"
              width="260"
              label="操作">
              <template scope="scope">
                  <el-button
                    size="small"
                    @click="handleEdit(scope.$index, scope.row)">重置密码</el-button>
                  <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
              </template>
          </el-table-column>
        </el-table>
        <el-dialog title="新增账号" v-model="dialogFormVisible1">
          <div class="system-dialog">
            <el-form label-position="left" label-width="80px" :model="formAccount">
              <el-form-item label="账号：">
                <el-input v-model="formAccount.account"></el-input>
              </el-form-item>
              <el-form-item label="角色：">
                <el-select v-model="formAccount.role" placeholder="请选择角色">
                  <el-option
                    v-for="item in options"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="密码：">
                初始密码 888888
              </el-form-item>
            </el-form>
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit('account')">确 定</el-button>
          </div>
        </el-dialog>
      </el-tab-pane>
      <!--<el-tab-pane label="角色管理" name="f2">
        <el-button @click="addNewRole" size="large" type="primary" style="float:right;marginBottom:10px;">新增角色</el-button>
        <el-table
          :data="tableData2"
          style="width: 100%">
          <el-table-column
              prop="name"
              width="260"
              label="角色名称">
          </el-table-column>
          <el-table-column
              prop="limit"
              label="角色权限">
              <template scope="scope">
                  <el-tag
                    v-for="tag in scope.row.limit"
                    type="success"
                    style="marginRight:10px"
                  >
                    {{tag.name}}
                  </el-tag>
              </template>
          </el-table-column>
          <el-table-column
              fixed="right"
              width="260"
              label="操作">
              <template scope="scope">
                  <el-button
                    size="small"
                    @click="handleRoleEdit(scope.$index, scope.row)">编辑</el-button>
                  <el-button
                    size="small"
                    type="danger"
                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
              </template>
          </el-table-column>
        </el-table>
        <el-dialog title="新增角色" v-model="dialogFormVisible2">
          <div class="system-dialog">
            <el-form label-position="left" label-width="120px" :model="formRole">
              <el-form-item label="角色名称：">
                <el-input v-model="formRole.name"></el-input>
              </el-form-item>
              <el-form-item label="角色权限：">
                <el-select v-model="formRole.limit" placeholder="请选择角色权限" style="width:100%" multiple >
                  <el-option
                    v-for="item in options"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible2 = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit('role')">确 定</el-button>
          </div>
        </el-dialog>
        <el-dialog title="编辑角色" v-model="dialogFormVisible">
          <div class="system-dialog">
            <el-form label-position="left" label-width="120px" :model="editformRole">
              <el-form-item label="角色名称：">
                <el-input v-model="editformRole.name"></el-input>
              </el-form-item>
              <el-form-item label="角色权限：">
                <el-select v-model="editformRole.limit" placeholder="请选择角色权限" style="width:100%" multiple >
                  <el-option
                    v-for="item in options"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="onSubmit('edit')">确 定</el-button>
          </div>
        </el-dialog>
      </el-tab-pane>-->
    </el-tabs>
    
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'system',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        msg: 'Welcome',
        activeName: 'f1',
        dialogFormVisible1: false,
        dialogFormVisible: false,
        dialogFormVisible2: false,
        formAccount: {
          account: '',
          role: ''
        },
        formRole: {
          name: '',
          limit: ''
        },
        editformRole: {
          name: '',
          limit: ''
        },
        options: [
          {
            value: '1',
            label: '产看cp数据'
          },
          {
            value: '2',
            label: '审核cp'
          },
          {
            value: '3',
            label: '产看产品数据'
          },
          {
            value: '4',
            label: '审核产品'
          },
          {
            value: '5',
            label: '产看网红数据'
          },
          {
            value: '6',
            label: '审核网红'
          }
        ],
        tableData: [
          {
              id: 0,
              account: '13465798465',
              name: '运营'
          },
          {
              id: 1,
              account: '13465798465',
              name: '财务'
          },
          {
              id: 2,
              account: '13465798465',
              name: '测试'
          },
        ],
        tableData2: [
          {
            name: '运营',
            limit: [
              {name: '产看cp数据', value: '1'},
              {name: '审核cp', value: '2'},
              {name: '产看产品数据', value: '3'},
              {name: '审核产品', value: '4'},
              {name: '产看网红数据', value: '5'},
              {name: '审核网红', value: '6'},
            ]
          },
          {
            name: '运营',
            limit: [
              {name: '产看产品数据', value: '3'},
              {name: '审核产品', value: '4'},
              {name: '产看网红数据', value: '5'},
              {name: '审核网红', value: '6'},
            ]
          },
          {
            name: '运营',
            limit: [
              {name: '产看cp数据', value: '1'},
              {name: '审核cp', value: '2'},
              {name: '产看网红数据', value: '5'},
              {name: '审核网红', value: '6'},
            ]
          }
        ]
      }
    },
    created () {
      
    },
    methods: {
      onSubmit(type){
        this.dialogFormVisible = false;
        this.dialogFormVisible1 = false;
        this.dialogFormVisible2 = false;
        if(type === 'account'){
          // 创建新账号
        }else if(type === 'role'){
          // 创建新角色
        }else if(type === 'edit'){
          // 编辑角色
        }
      },
      addNewAccount(){
        this.dialogFormVisible1 = true;
      },
      addNewRole(){
        this.dialogFormVisible2 = true;
      },
      handleEdit(index, row) {
        console.log(index, row);
        // this.$notify({
        //   title: '成功',
        //   message: '重置密码成功',
        //   type: 'success'
        // });
        this.$notify.error({
          title: '失败',
          message: '重置密码失败'
        });
      },
      handleRoleEdit(index, row) {
        console.log(row.name, row.limit);
        this.dialogFormVisible = true;
        this.editformRole.name = row.name;
        let limit = [];
        row.limit.forEach((r, i)=>{
          limit.push(r.value);
        })
        this.editformRole.limit = limit;
      },
      handleDelete(index, row) {
        console.log(index, row);
        this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$notify({
            title: '成功',
            message: '这是一条成功的提示消息',
            type: 'success'
          });
        }).catch(() => {
                  
        });
      },
      addInfluencer(){
          
      }
    }
  }
</script>

<style scoped>
  .system{
    padding: 40px 60px;
  }
</style>
