<template>
  <div class="addInfluencer">
    <el-row :gutter="0">
      <el-col :span="5">
          <h3>添加网红</h3>
      </el-col>
      <el-col :span="3" :offset="16">
          
      </el-col>
    </el-row>
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'addInfluencer',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        msg: 'Welcome'
      }
    },
    created () {
      
    },
    methods: {
      addInfluencer(){

      }
    }
  }
</script>

<style scoped>
  .addInfluencer{
      padding: 40px 60px;
  }
</style>
