<template>
  <div class="influencer">
    <el-row :gutter="0">
      <el-col :span="5">
          <h3>网红管理</h3>
      </el-col>
      <el-col :span="3" :offset="16">
          <el-button type="primary" @click="addInfluencer">添加网红</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'influencer',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        msg: 'Welcome'
      }
    },
    created () {
      
    },
    methods: {
      addInfluencer(){
          this.$router.push('/app/addInfluencer');
      }
    }
  }
</script>

<style scoped>
  .influencer{
    padding: 40px 60px;
  }
</style>
