<template>
  <div class="addcoming">
    <h3>新增公司</h3>
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="公司名称:">
            <el-input style="width:60%" v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="公司网址:">
            <el-input style="width:60%" v-model="form.url"></el-input>
        </el-form-item>
        <el-form-item label="产品类型:">
            <el-select style="width:60%" v-model="form.type" placeholder="请选择产品类型">
                <el-option label="IOS APP" value="ios"></el-option>
                <el-option label="ANDROID APP" value="android"></el-option>
                <el-option label="其他" value="other"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="公司邮箱:">
            <el-input style="width:60%" v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item label="联系电话:">
            <el-input style="width:60%" v-model="form.phone"></el-input>
        </el-form-item>
        <el-form-item label="联系人:">
            <el-input style="width:60%" v-model="form.user"></el-input>
        </el-form-item>
        <el-form-item>
            <div style="text-align:center;margin-right:-2%;">
                <el-button type="primary" @click="onSubmit">立即创建</el-button>
                <el-button>返回</el-button>
            </div>
        </el-form-item>
    </el-form>
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'addcoming',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        msg: 'Welcome',
        form: {
          name: '',
          url: '',
          type: '',
          email: '',
          phone: '',
          user: ''
        }
      }
    },
    created () {
      
    },
    methods: {
        onSubmit(){
            
        }
    }
  }
</script>

<style scoped>
  .addcoming{
      padding: 40px 60px;
  }
</style>
