<template>
  <div class="addproduct">
    <h3>新增产品</h3>
    <hr>
    <el-form ref="form" :model="form" label-width="120px">
        <p>基础信息</p>
        <el-form-item label="产品名称:">
            <el-input style="width:60%;" v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="产品类型:">
            <el-row style="width:60%;">
            <el-col :span="8">
                <el-select v-model="form.type" placeholder="--请选择--">
                    <el-option label="IOS APP" value="ios"></el-option>
                    <el-option label="ANDROID APP" value="android"></el-option>
                    <el-option label="其他" value="other"></el-option>
                </el-select>
            </el-col>
            <el-col :span="8">
                <el-select placeholder="--请选择--">
                    <el-option label="Shopping" value="0"></el-option>
                    <el-option label="Beauty" value="1"></el-option>
                    <el-option label="Game" value="2"></el-option>
                    <el-option label="Lifestyle" value="3"></el-option>
                    <el-option label="Tools" value="4"></el-option>
                    <el-option label="Social" value="5"></el-option>
                    <el-option label="Education" value="6"></el-option>
                    <el-option label="Other" value="7"></el-option>
                </el-select>
             </el-col>
             <el-col :span="8">
                <el-input></el-input>
            </el-col>
            </el-row>
        </el-form-item>
        <el-form-item label="产品URL:">
            <el-input  style="width:60%;" v-model="form.url"></el-input>
        </el-form-item>
        <el-form-item label="产品描述:">
            <el-input  style="width:60%;" v-model="form.desc" type="textarea"></el-input>
        </el-form-item>
        <p>偏好信息</p>
        <el-form-item label="年龄偏好:">
           <el-radio-group v-model="form.age">
            <el-radio label="全年龄"></el-radio>
            <el-radio label="13-17"></el-radio>
            <el-radio label="18-24"></el-radio>
            <el-radio label="25-34"></el-radio>
            <el-radio label="35-44"></el-radio>
            <el-radio label="45-54"></el-radio>
            <el-radio label="55+"></el-radio>
           </el-radio-group>
        </el-form-item>
        <el-form-item label="性别偏好:">
            <el-radio-group v-model="form.gender">
                <el-radio label="所有"></el-radio>
                <el-radio label="男性"></el-radio>
                <el-radio label="女性"></el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="地区偏好:">
            <el-radio-group v-model="form.region">
                <el-radio label="所有"></el-radio>
                <el-radio label="北美"></el-radio>
                <el-radio label="南美"></el-radio>
                <el-radio label="欧洲"></el-radio>
                <el-radio label="亚洲"></el-radio>
            </el-radio-group>
        </el-form-item>
        <!--<el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item>-->
        <p>总额</p>
        <el-row style="width:60%;">
            <el-col :span="12">
                <el-form-item label="美元（$）：">
                    <el-input  style="width:100%"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="人民币（￥）：">
                    <el-input  style="width:100%"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <p>物料</p>
        <el-form-item label="文案：">
            <el-input  style="width:60%;" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="附件：">
            <el-button type="primary"> 上传 </el-button>
        </el-form-item>
        <div style="text-align:right;">
            <el-button type="primary"> 提交 </el-button>
        </div>

    </el-form>
    
  </div>
</template>

<script>
  export default {
    name: 'addproduct',
    data () {
      return {
        msg: 'Welcome',
        form: {
          name: '',
          url: '',
          type: '',
          desc: '',
          age: '',
          gender: '',
          region:''
        }
      }
    },
    created () {
      
    },
    methods: {
      onSubmit(){

      }
    }
  }
</script>

<style scoped>
  .addproduct{
      padding: 40px 60px;
  }
</style>
