<template>
  <div class="coming">
    <el-row :gutter="0">
      <el-col :span="5">
        <h3>公司管理</h3>
      </el-col>
      <el-col :span="3" :offset="16">
        <el-button type="primary" @click="addCompany">添加公司</el-button>
      </el-col>
    </el-row>
    <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
            prop="account"
            label="公司账号">
        </el-table-column>
        <el-table-column
            prop="name"
            label="公司名称">
        </el-table-column>
        <el-table-column
            prop="balance"
            label="账户余额($)">
        </el-table-column>
        <el-table-column
            prop="number"
            label="产品数量">
        </el-table-column>
        <el-table-column
            width="160"
            label="操作">
            <template scope="scope">
                <el-button @click="handleClick(scope.$index, scope.row)" type="text" size="small">详情</el-button>
                <el-button @click="dialogFormVisible = true" type="text" size="small">修改余额</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--修改余额弹出框-->
        <el-dialog v-model="dialogFormVisible">
          <el-form :model="formData"  label-width="100">
            <el-form-item label="交易类型:">
              <el-select v-model="formData.type" placeholder="请选择">
                <el-option label="充值" value="1"></el-option>
                <el-option label="提现" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="金额($):">
             <el-input style="width:60%;" v-model="formData.money"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
          </div>
    </el-dialog>
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'coming',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        msg: 'Welcome',
        dialogFormVisible: false,
        formData: {
          type:'',
          money:''
        },
        tableData: [
          {
              id: 0,
              account: 'AllJoyFoods',
              name: 'All Joy Foods Limited ',
              balance: '1000',
              number: '10'
          },
          {
              id: 1,
              account: 'AllJoyFoods',
              name: 'All Joy Foods Limited ',
              balance: '1000',
              number: '10'
          }
        ]
      }
    },
    created () {
      
    },
    methods: {
      addCompany(){
        this.$router.push('/app/addNewCompany/');
      },
      handleClick(index, row){
        console.log(index, row.id);
        this.$router.push('/app/companyDetails/'+row.id);
      }
    }
  }
</script>

<style scoped>
  .coming{
    padding: 40px 60px;
  }
</style>
