<template>
  <div class="companyDetails">
    <h3>{{name}}详情</h3>
    <el-form>
        <el-form-item label="公司名称：">
            {{companyName}}
        </el-form-item>
        <el-form-item label="公司主页：">
            <div>
                <a href="http://m.testss.xyz">{{companyPage}}</a>
            </div>
        </el-form-item>
        <el-form-item label="余额：">
            {{companyBalance}}
        </el-form-item>
    </el-form>
    <el-row :gutter="0" style="position: relative">
      <el-button type="primary" style="position: absolute;top:0;right:0;zIndex:1000" @click="addNewProduct">添加产品</el-button>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="产品列表" name="first">
            <el-table
                :data="tableData"
                height="450"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="产品名称">
                </el-table-column>
                <el-table-column
                    prop="type"
                    label="产品类型">
                </el-table-column>
                <el-table-column
                    prop="balance"
                    label="账户余额($)">
                </el-table-column>
                <el-table-column
                    prop="url"
                    label="产品URL">
                </el-table-column>
                <el-table-column
                    prop="amount"
                    label="预算($)">
                </el-table-column>
                <el-table-column
                    prop="cpa"
                    label="CPA">
                </el-table-column>
                <el-table-column
                    fixed="right"
                    width="160"
                    label="操作">
                    <template scope="scope">
                        <el-button  @click="dialogFormVisible = true" type="text" size="small">分配</el-button>
                        <el-button @click="onhandleClick(scope.$index, scope.row)" type="text" size="small">详情</el-button>
                        <el-button @click="dialogVisible = true" type="text" size="small">下架</el-button>
                    </template>
</el-table-column>
</el-table>
</el-tab-pane>

</el-tabs>
</el-row>
<!--分配弹出框-->
<el-dialog title="分配网红" v-model="dialogFormVisible">
    <el-form :model="formData">
        <el-form-item label="选择网红:">
            <el-row>
                <el-col :span="5">
                    <el-select style="width:100%" v-model="formData.region" placeholder="请选择地区">
                        <el-option label="美国" value="0"></el-option>
                        <el-option label="英国" value="1"></el-option>
                        <el-option label="荷兰" value="2"></el-option>
                        <el-option label="法国" value="3"></el-option>
                        <el-option label="意大利" value="4"></el-option>
                        <el-option label="德国" value="5"></el-option>
                        <el-option label="巴西" value="5"></el-option>
                        <el-option label="墨西哥" value="5"></el-option>
                        <el-option label="印度" value="5"></el-option>
                        <el-option label="加拿大" value="5"></el-option>
                        <el-option label="澳大利亚" value="5"></el-option>
                        <el-option label="新西兰" value="5"></el-option>
                        <el-option label="泰国" value="5"></el-option>
                        <el-option label="越南" value="5"></el-option>
                        <el-option label="其他国家" value="5"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="5">
                    <el-select style="width:100%" v-model="formData.type" placeholder="请选择业务类型">
                        <el-option label="Shopping" value="0"></el-option>
                        <el-option label="Beauty" value="1"></el-option>
                        <el-option label="Game" value="2"></el-option>
                        <el-option label="Lifestyle" value="3"></el-option>
                        <el-option label="Tools" value="4"></el-option>
                        <el-option label="Social" value="5"></el-option>
                        <el-option label="Education" value="6"></el-option>
                        <el-option label="Other" value="7"></el-option>
                    </el-select>
                </el-col>
                <el-col :span="6">
                    <el-select style="width:100%" placeholder="请选择网红"></el-select>
                </el-col>
            </el-row>
        </el-form-item>
        <el-row>
            <el-col :span="8">
                <el-form-item label="CPC（$）:">
                    <span>0.75</span>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="CPA（$）:">
                    <span>75</span>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="CPM（$）:">
                    <span>750</span>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogFormVisible = false">确 认</el-button>
    </div>
</el-dialog>
<!--下架弹出框-->
<el-dialog title="下架确认" v-model="dialogVisible">
    <el-form :model="formData">
        <el-row>
            <el-col :span="12">
                <el-form-item label="交易总金额（$）：">
                    <span>18000</span>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-form-item label="当前余额（$）：">
                    <span>10000</span>
                </el-form-item>
            </el-col>
        </el-row>
        <el-form-item label="下架原因:">
            <el-input type="textarea"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">确 认</el-button>
    </div>
    <!--<NavMenu></NavMenu>-->
</el-dialog>
<div style="text-align:right; margin-top:20px;">
    <el-button style="width:100px;" type="primary">返回</el-button>
</div>

</div>
</template>

<script>
    //   import NavMenu from './NavMenu';
    //   import Menus from './Menu';
    export default {
        name: 'companyDetails',
        components: {
            //   NavMenu,
            //   Menus
        },
        data() {
            return {
                formData: {
                    region: '',
                    type: ''
                },
                dialogFormVisible: false,
                dialogVisible: false,
                activeName: 'first',
                name: 'AllJoyFoods',
                companyName: 'All Joy Foods Limited ',
                companyPage: 'http://m.testss.xyz/',
                companyBalance: '1000$',
                tableData: [{
                    id: 0,
                    name: 'FOOD',
                    type: 'App',
                    url: 'http://m.testss.xyz/',
                    amount: '1000',
                    cpa: '20%'
                }, {
                    id: 1,
                    name: 'FOOD',
                    type: 'App',
                    url: 'http://m.testss.xyz/',
                    amount: '1000',
                    cpa: '20%'
                }, ]
            }
        },
        created() {
            let id = this.$route.params.id;
            console.log(id);
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab.name);
            },
            onhandleClick(index, row) {
                console.log(index, row.id);
                this.$router.push('/app/productDetails/' + row.id);
            },
            addNewProduct() {
                this.$router.push('/app/addProduct');
            }
        }
    }
</script>

<style scoped>
    .companyDetails {
        padding: 40px 60px;
    }
</style>