<template>
  <div class="campaings">
      <div class="campaings-tabs">
        <div class="campaings-menu">
          <span :class="{details: true, active: isdActive}" @click="isActiveShow('d')">详情</span>
          <span :class="{details: true, active: iseActive}" @click="isActiveShow('e')">结算</span>
        </div>
        <div class="campaings-tabs-first" :style="{display: isdShow}">
          <div class="campaings-card">
            <div class="campaings-card-item">
              <el-row class="campaings-card-item-first">
                <el-col :span="3" class="campaings-card-item-first1">
                  <img src='../../../assets/logo.png' alt="" class="campaings-card-img"></img>
                </el-col>
                <el-col :span="18" class="campaings-card-item-first2">
                  <div class="card-header">BOO!</div>
                  <div class="card-app">App:http://fontawesome.io/icon/question-circle/</div>
                  <div class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra </div>
                </el-col>
                <el-col :span="3" class="campaings-card-item-first3">
                  <div class="card-typing" style="color: #f00">REVIEWING</div>
                  <el-button 
                    type="primary" 
                    @click="onCheckDetails()" 
                    :style="{width:'100%',color:'#fff',background:'#ef6c02',border:0,display:isUpBtn}">上架</el-button>
                </el-col>
              </el-row>
              <el-row class="campaings-card-item-second">
                <el-col :span="6">
                  <div>支出/预算</div>
                  <h2>$500/$1000</h2>
                </el-col>
                <el-col :span="6">
                  <div>曝光</div>
                  <h2>50000</h2>
                </el-col>
                <el-col :span="6">
                  <div>点击</div>
                  <h2>40000</h2>
                </el-col>
                <el-col :span="6">
                  <div>转化</div>
                  <h2>50000</h2>
                </el-col>
              </el-row>
            </div>
            <div class="campaings-card-block" :style="{display: isDisplay}">
              <div class="campaings-card-block-menu">
                  <el-row>
                  <el-col :span="6">
                    <el-date-picker type="date" placeholder="From" v-model="form.start" style="width: 100%;color: #000"></el-date-picker>
                  </el-col>
                  <el-col :span="1" style="textAlign: center; lineHeight: 36px; fontSize: 20px">-</el-col>
                  <el-col :span="6">
                    <el-date-picker type="date" placeholder="To" v-model="form.end" style="width: 100%;color: #000"></el-date-picker>
                  </el-col>
                  <el-col :span="6" :offset="2">
                    <el-select v-model="value" placeholder="请选择" @change="onChangeItem">
                      <el-option label="近一周" value="7" style="width:100%;marginLeft:0"></el-option><br/>
                      <el-option label="近两周" value="14" style="width:100%;marginLeft:0"></el-option><br/>
                      <el-option label="近一个月" value="30" style="width:100%;marginLeft:0"></el-option><br/>
                      <el-option label="近两个月" value="60" style="width:100%;marginLeft:0"></el-option>
                    </el-select>
                  </el-col>
                </el-row>
              </div>
              <div class="campaings-card-block-list">
                <p>支出统计</p>
                <div class="list-content">
                  <el-table
                    :data="tableData"
                    style="width: 100%">
                    <el-table-column
                      prop="date"
                      label="日期">
                    </el-table-column>
                    <el-table-column
                      prop="clicks"
                      label="点击">
                    </el-table-column>
                    <el-table-column
                      prop="conversion"
                      label="转化">
                    </el-table-column>
                    <el-table-column
                      prop="spent"
                      label="支出">
                    </el-table-column>
                    <el-table-column
                      prop="cpc"
                      label="CPC">
                    </el-table-column>
                  </el-table>
                </div>
              </div>
              <div class="campaings-card-block-chart">
                <div class="chart-content" id="main-chart1"></div>
              </div>
              <div class="campaings-card-block-chart2">
                <el-row>
                  <el-col :span="8">
                    <div id="main-chart2" style="width: 100%; height: 400px"></div>
                  </el-col>
                  <el-col :span="16" style="position:relative;">
                    <el-table
                      :data="tableData2"
                      height="340"
                      style="width:90%;position:absolute;top:60px;right:0;">
                      <el-table-column
                        prop="country"
                        label="来源平台">
                      </el-table-column>
                      <el-table-column
                        prop="pie"
                        label="百分比">
                      </el-table-column>
                      <el-table-column
                        prop="tclick"
                        label="点击">
                      </el-table-column>
                      <el-table-column
                        prop="uclick"
                        label="转化">
                      </el-table-column>
                    </el-table>
                  </el-col>
                </el-row>
              </div>
            </div>
          </div>
        </div>
        <div class="campaings-tabs-first" :style="{display: iseShow}">
          <div class="campaings-tabs-j">
            <el-row class="campaings-tabs-j-f">
              <el-col :span="21">
                <p>推广期内耗费: <span>$1000</span></p>
                <p>常稳流量期内耗费: <span>$600</span></p>
              </el-col>
              <el-col :span="3">
                <el-button type="primary" style="width:100%;backgroundColor:#ef6c02;border:0;">结算</el-button>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-table
                  :data="tableData3"
                  height="340"
                  style="width:100%;">
                  <el-table-column
                    prop="date"
                    label="日期">
                  </el-table-column>
                  <el-table-column
                    prop="influencer"
                    label="网红">
                  </el-table-column>
                  <el-table-column
                    prop="address"
                    label="Feed地址">
                  </el-table-column>
                  <el-table-column
                    prop="price"
                    label="CPC($)">
                  </el-table-column>
                  <el-table-column
                    prop="click"
                    label="点击量">
                  </el-table-column>
                  <el-table-column
                    prop="longClick"
                    label="长尾点击量">
                  </el-table-column>
                  <el-table-column
                    prop="amount"
                    label="金额($)">
                  </el-table-column>
                  <el-table-column
                    prop="longAmount"
                    label="长尾流量金额($)">
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import echarts from 'echarts';
export default {
  name: 'campaings',
  data () {
    return {
      isdActive: true,
      iseActive: false,
      isdShow: 'block',
      iseShow: 'none',
      isDisplay: 'block',
      isUpBtn: 'block',
      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
      value: '7',
      activeName: 'first',
      form: {
        start: '',
        end: ''
      },
      chart: null,
      bannerStyle: {
        height: window.innerHeight-60 + 'px',
      },
      tableData: [
        {
          date: '2017-03-12',
          clicks: 2000,
          conversion: 100,
          spent: '$78',
          cpc: '$0.38'
        },
        {
          date: '2017-03-12',
          clicks: 2000,
          conversion: 100,
          spent: '$78',
          cpc: '$0.38'
        },
        {
          date: '2017-03-12',
          clicks: 2000,
          conversion: 100,
          spent: '$78',
          cpc: '$0.38'
        },
        {
          date: '2017-03-12',
          clicks: 2000,
          conversion: 100,
          spent: '$78',
          cpc: '$0.38'
        }
      ],
      tableData2: [
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        },
        {
          country: 'China',
          pie: '30%',
          tclick: '50',
          uclick: '32'
        }
      ],
      tableData3: [
        {
          date: '2017-01-01',
          influencer: 'mary',
          address: 'xxxxxxx',
          price: '580$',
          click: '502000',
          longClick: '1000',
          amount: '580$',
          longAmount: '180$'
        },
        {
          date: '2017-01-01',
          influencer: 'mary',
          address: 'xxxxxxx',
          price: '580$',
          click: '502000',
          longClick: '1000',
          amount: '580$',
          longAmount: '180$'
        },
        {
          date: '2017-01-01',
          influencer: 'mary',
          address: 'xxxxxxx',
          price: '580$',
          click: '502000',
          longClick: '1000',
          amount: '580$',
          longAmount: '180$'
        },
        {
          date: '2017-01-01',
          influencer: 'mary',
          address: 'xxxxxxx',
          price: '580$',
          click: '502000',
          longClick: '1000',
          amount: '580$',
          longAmount: '180$'
        }
      ]
    }
  },
  created () {
    console.log(this.$route.params.id);
    this.isDisplay = this.$route.params.id === '1' ? 'none' : 'block';
    this.isUpBtn = this.$route.params.id !== '1' ? 'none' : 'block';
    this.$nextTick(function() {  
        this.drawCharts('main-chart1', 'line');
        this.drawCharts('main-chart2', 'pie');  
    }) 
  },
  methods: {
    onChangeItem(value){
      console.log(value);
      let end = new Date();
      let start = new Date();
      if( value*1 === 7 ){
        // 近一周
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
      }else if( value*1 === 14 ){
        // 近两周
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 14);
      }else if( value*1 === 30 ){
        // 近一个月
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
      }else if( value*1 === 60 ){
        // 近两个月
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 60);
      }
      this.form.start = start;
      this.form.end = end;
    },
    isActiveShow(t){
      if(t === 'd'){
        this.isdActive = true;
        this.iseActive = false;
        this.isdShow = 'block';
        this.iseShow = 'none';
      }else if(t === 'e'){
        this.isdActive = false;
        this.iseActive = true;
        this.isdShow = 'none';
        this.iseShow = 'block';
      }
    },
    handleClick(){

    },
    drawCharts(dom, type){
      this.chart = echarts.init(document.getElementById(dom));
      this.chart.showLoading();
      if(type === 'line'){
        this.chart.setOption({
            title: { 
              text: '折线图',
              x: 'left'  
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            legend: {
                data:['Impression','Click','Activation'],
                x: 'center',
                y: 'bottom',
                // orient: 'vertical'
            },
            grid: [{
                left: 30,
                right: 10,
                height: '60%'
            }],
            tooltip: {trigger: 'axis'},
            xAxis: {
                data: ["1","2","3","4","5","6"],
                boundaryGap: false
            },
            yAxis: {},
            series: [
              {
                name: 'Impression',
                type: 'line',
                data: [34, 20, 28, 10, 70, 80]
              },
              {
                name: 'Click',
                type: 'line',
                data: [5, 20, 46, 15, 50, 20]
              },
              {
                name: 'Activation',
                type: 'line',
                data: [1, 20, 56, 30, 10, 40]
              },
            ]
        });
      }else{
        this.chart.setOption({
          title: { 
            text: '饼状图',
            x: 'left'  
          },
          tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          legend: {
              x: 'center',
              y: 'bottom',
              data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎','1','2','3','4','5']
          },
          series: [
              {
                  name:'访问来源',
                  type:'pie',
                  radius: ['40%', '60%'],
                  avoidLabelOverlap: false,
                  label: {
                      normal: {
                          show: false,
                          position: 'center'
                      },
                      emphasis: {
                          show: true,
                          textStyle: {
                              fontSize: '30',
                              fontWeight: 'bold'
                          }
                      }
                  },
                  labelLine: {
                      normal: {
                          show: false
                      }
                  },
                  data:[
                      {value:335, name:'直接访问'},
                      {value:310, name:'邮件营销'},
                      {value:234, name:'联盟广告'},
                      {value:135, name:'视频广告'},
                      {value:1548, name:'搜索引擎'},
                      {value:335, name:'1'},
                      {value:310, name:'2'},
                      {value:234, name:'3'},
                      {value:135, name:'4'},
                      {value:1548, name:'5'}
                  ]
              }
          ]
        });
      }
      this.chart.hideLoading();
    },
    onCheckDetails(){

    },
    onSubmit(type){
			if(type === 'login'){
				this.$router.push('/user');
			}else if(type === 'new'){

			}
    }
  }

}
</script>

<style scoped>
  .campaings{
    padding: 40px 60px;
    background-color: #f5f7fa;
  }
  .campaings-tabs{

  }
  .campaings-menu{
    height: 60px;
    padding: 0 40px;
    font-size: 16px;
    color: #999;
    background-color: #fff;
    margin-bottom: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 2px #ccc;
  }
  .campaings-menu>span{
    padding: 0 40px;
    display: inline-block;
    line-height: 60px;
    cursor: pointer;
  }
  .campaings-menu>span.active{
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #333;
  }
  .campaings-tabs-first{
    color: #333;
    font-size: 14px;
  }
  .campaings-tabs-j{
    padding: 20px 40px 40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px #ccc;
  }
  .campaings-tabs-j-f{
    margin-bottom: 20px;
  }
  .campaings-tabs-j p{
    color: #999;
    font-size: 14px;
    margin: 0;
    display: inline-block;
    line-height: 36px;
    margin-right: 20px;
  }
  .campaings-tabs-j p>span{
    color: #333;
    font-size: 14px;
    padding-left: 20px;
  }
  .el-input__icon {
    color: #000;
  }
  .campaings-card{
    box-sizing: border-box;
  }
  .campaings-card-item{
    padding: 20px 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(204,204,204,.5);
  }
  .campaings-card-img{
    width: 100%;
  }
  .campaings-card-item-first{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  .campaings-card-item-first2{
    padding: 0 40px 0 20px;
  }
  .campaings-card-item-first2 > div{
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  .campaings-card-item-first2 .card-header{
    font-weight: 900;
    font-size: 18px;
  }
  .campaings-card-item-first2 .card-app{
    
  }
  .campaings-card-item-first3{
    padding: 35px 0 0 0 ;
    text-align: center;
  }
  .campaings-card-item-first3>div{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .campaings-card-item-second{
    padding-top: 20px;
  }
  .campaings-card-item-second div{
    font-size: 14px;
    color: #999;
  }
  .campaings-card-item-second h2{
    font-weight: normal;
    margin-bottom: 0;
    font-size: 18px;
    color: #333;
  }
  .campaings-card-block{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
  }
  .campaings-card-block-menu{
    border-bottom: 1px solid #ccc;
    padding: 30px 40px;
  }
  .campaings-card-block-list{
    padding: 0 40px;
  }
  .campaings-card-block-list>p{
    margin: 20px 0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  .campaings-card-block-chart{
    padding: 0 40px;
    margin: 40px 0;
  }
  #main-chart1{
    height: 300px;
    width: 100%;
  }
  .campaings-card-block-chart2{
    padding: 0 40px 40px;
  }
</style>
