<template>
  <div class="checkProduct">
      <h3>产品信息审核及编辑</h3>
      <hr>
      <div class="formData">
        <p>基础信息</p>
        <el-form ref="form" :model="form1" label-width="80px">
          <el-form-item label="产品名称:">
            <el-input v-model="form1.name" style="width:60%"></el-input>
          </el-form-item>
          <el-form-item label="产品类型:">
          <el-row  style="width:60%">
            <el-col :span="8">
              <el-select v-model="form1.type" placeholder="--请选择--" style="width:100%">
                <el-option label="APP" value="1"></el-option>
                <el-option label="Link" value="2"></el-option>
              </el-select>
            </el-col>
            <el-col :span="8">
              <el-select v-model="form1.type2" placeholder="--请选择--" style="width:100%">
                <el-option label="Shopping" value="1"></el-option>
                <el-option label="Beauty" value="2"></el-option>
                <el-option label="Game" value="3"></el-option>
                <el-option label="Lifestyle" value="4"></el-option>
                <el-option label="Tools" value="5"></el-option>
                <el-option label="Social" value="6"></el-option>
                <el-option label="Education" value="7"></el-option>
                <el-option label="Other" value="8"></el-option>
              </el-select>
            </el-col>
            <el-col :span="8">
              <el-input style="width:"></el-input>
            </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="产品URL:">
            <el-input v-if="form1.type=='2'" v-model="form1.url" style="width:60%"></el-input>
            <div v-if="form1.type=='1'">
              <div style="margin-bottom:10px;">
                <el-input v-model="form1.url" style="width:60%">
                  <template slot="prepend">IOS:</template>
                </el-input>
              </div>
              <div style="margin-bottom:10px;">
                <el-input v-model="form1.url" style="width:60%">
                  <template slot="prepend">ANDIROD:</template>
                </el-input>
              </div>
              <div style="margin-bottom:10px;">
                <el-input v-model="form1.url" style="width:60%">
                  <template slot="prepend">LINK:</template>
                </el-input>
              </div>
            </div>
            
          </el-form-item>
          <el-form-item label="产品描述:">
            <el-input v-model="form1.description" type="textarea" style="width:60%"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <p style="width:100%;height:10px;background-color:#fff;"></p>
      <div class="formData">
        <p>偏好信息</p>
        <el-form ref="form" :model="form2" label-width="80px">
          <el-form-item label="年龄偏好:">
            <span>{{form2.age}}</span>
          </el-form-item>
          <el-form-item label="性别偏好:">
            <span>{{form2.gender}}</span>
          </el-form-item>
          <el-form-item label="地区偏好:">
             <span>{{form2.region}}</span>
          </el-form-item>
        </el-form>
      </div>
      <p style="width:100%;height:10px;background-color:#fff;"></p>
      <div class="formData">
        <p>结算信息</p>
        <el-form ref="form" :model="form3" label-width="80px">
          <el-form-item label="结算方式:">
            <el-select v-model="form3.settle" placeholder="请选择" style="width:25%;">
              <el-option label="CPC" value="1"></el-option>
              <el-option label="CPA" value="2"></el-option>
              <el-option label="Package" value="4"></el-option>
            </el-select>
            &nbsp;&nbsp;<span>价格：</span>
          </el-form-item>
          
          <el-form-item label="美金（$）:">
            <el-input style="width:23%;"></el-input>&nbsp;&nbsp;=人民币（￥）：
            <el-input style="width:23%;"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <p style="width:100%;height:10px;background-color:#fff;"></p>
      <div class="formData">
        <p>物料</p>
        <el-form ref="form" label-width="80px">
          <el-form-item label="文案:">
            <el-input type="textarea" style="width:60%;"></el-input>
          </el-form-item>
          <el-form-item label="附件:">
           <el-button type="primary" style="width:120px;">上传</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div style="text-align:right;margin: 0px 40px 30px;">
        <el-button type="primary">审核通过</el-button>
        <el-button type="primary">审核驳回</el-button>
        <el-button type="primary">取消</el-button>
      </div>
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'upcoming',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        form1: {
          name:'',
          type:'2',
          type2:'',
          url:'',
          description:''
        },
        form2:{
          age:'13-17',
          gender:'男性',
          region:'北美'
        },
        form3:{
          settle:''
        }
      }
    },
    created () {
      
    },
    methods: {
      addInfluencer(){
          
      }
    }
  }
</script>

<style scoped>
  .money{
    padding: 40px 60px;
  }
  .formData{
    padding-left:10px;
  }
  .formData p{
    font-weight:bold;
    padding-left:10px;
  }
</style>
