<template>
  <div class="dashbord">
    <el-row :gutter="20" class="first-row">
        <el-menu default-active="/app/upcoming" router mode="horizontal" style="backgroundColor:#ccc">
            <el-menu-item index="/app/upcoming">我的待办</el-menu-item>
            <el-menu-item index="/app/">我的产品</el-menu-item>
            <el-menu-item index="/app/">我的网红</el-menu-item>
        </el-menu>
      <el-col :lg="5" :md="5" :sm="5" :xs="5">
         
      </el-col>
      <el-col :lg="5" :md="5" :sm="5" :xs="5">
          
      </el-col>
      <el-col :lg="5" :md="5" :sm="5" :xs="5">
          
      </el-col>
      <el-col :lg="5" :md="5" :sm="5" :xs="5"></el-col>
    </el-row>
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'dashbord',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        msg: 'Welcome'
      }
    },
    created () {
      
    },
    methods: {
      
    }
  }
</script>

<style scoped>
  .dashbord{
      padding: 40px 60px;
  }
</style>
