<template>
  <div class="upcoming">
    <h2>待办列表</h2>
    <el-tabs type="border-card">
        <el-tab-pane label="产品审核">
            <el-table
                :data="tableData1"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="产品名称">
                </el-table-column>
                <el-table-column
                    prop="type"
                    label="产品类型">
                </el-table-column>
                <el-table-column
                    prop="url"
                    label="产品URL">
                </el-table-column>
                <el-table-column
                    prop="amount"
                    label="预算($)" width="120">
                </el-table-column>
                <el-table-column
                    prop="cpi"
                    label="CPI" width="120">
                </el-table-column>
                <el-table-column
                   
                    width="120"
                    label="操作">
                    <template scope="scope">
                        <el-button @click="handleClick(scope.row)" type="text" size="small">审核</el-button>
                        <!--<el-button type="text" size="small">编辑</el-button>-->
                    </template>
                </el-table-column>
            </el-table>
        </el-tab-pane>
        <!--<el-tab-pane label="网红审核">
            <el-table
                :data="tableData2"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="网红名称"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="page"
                    label="主页">
                </el-table-column>
                <el-table-column
                    fixed="right"
                    width="160"
                    label="操作">
                    <template scope="scope">
                        <el-button @click="handleClick" type="text" size="small">查看</el-button>
                        <el-button type="text" size="small">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-tab-pane>
        <el-tab-pane label="公司审核">
            <el-table
                :data="tableData3"
                style="width: 100%">
                <el-table-column
                    prop="account"
                    label="公司账号">
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="公司名称">
                </el-table-column>
                <el-table-column
                    prop="balance"
                    label="账户余额($)">
                </el-table-column>
                <el-table-column
                    prop="number"
                    label="产品数量">
                </el-table-column>
                <el-table-column
                    fixed="right"
                    width="160"
                    label="操作">
                    <template scope="scope">
                        <el-button @click="handleClick" type="text" size="small">查看</el-button>
                        <el-button type="text" size="small">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-tab-pane>-->
    </el-tabs>
  </div>
</template>

<script>
//   import NavMenu from './NavMenu';
//   import Menus from './Menu';
  export default {
    name: 'upcoming',
    components: {
    //   NavMenu,
    //   Menus
    },
    data () {
      return {
        msg: 'Welcome',
        tableData1: [
            {
                name: 'FOOD',
                type: 'APP',
                url: 'http://starstore.com',
                amount: '1000',
                cpi: ''
            },
            {
                name: 'FOOD',
                type: 'APP',
                url: 'http://starstore.com',
                amount: '1000',
                cpi: ''
            }
        ],
        tableData2: [
            {
                name: 'cc',
                page: 'https://www.tapinfluence.com/pricing/'
            },
            {
                name: 'cc',
                page: 'https://www.tapinfluence.com/pricing/'
            }
        ],
        tableData3: [
            {
                account: 'AllJoyFoods',
                name: 'All Joy Foods Limited ',
                balance: '1000',
                number: '10'
            },
            {
                account: 'AllJoyFoods',
                name: 'All Joy Foods Limited ',
                balance: '1000',
                number: '10'
            }
        ]
      }
    },
    created () {
      
    },
    methods: {
      handleClick(){
            this.$router.push('/app/checkProduct');
      }
    }
  }
</script>

<style scoped>
  .upcoming{
      padding: 40px 60px;
  }
</style>
